/* Content
----------------------------------------------- */
body {
  font: normal normal 12px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
  color: #666666;
  background: #ffffff none repeat scroll top left;
  padding: 0 0 0 0;
}
html body .region-inner {
  min-width: 0;
  max-width: 100%;
  width: auto;
}
h2 {
  font-size: 22px;
}
a:link {
  text-decoration:none;
  color: #2288bb;
}
a:visited {
  text-decoration:none;
  color: #888888;
}
a:hover {
  text-decoration:underline;
  color: #33aaff;
}
.body-fauxcolumn-outer .fauxcolumn-inner {
  background: transparent none repeat scroll top left;
  _background-image: none;
}
.body-fauxcolumn-outer .cap-top {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 100%;
}
.body-fauxcolumn-outer .cap-top .cap-left {
  width: 100%;
  background: transparent none repeat-x scroll top left;
  _background-image: none;
}

.content-outer {
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .15);
  -goog-ms-box-shadow: 0 0 0 #333333;
  box-shadow: 0 0 0 rgba(0, 0, 0, .15);
  margin-bottom: 1px;
}
.content-inner {
  padding: 10px 40px;
}
.content-inner {
  background-color: #ffffff;
}

.container-fluid {
  padding: 0px;
}

.blog-content {
  padding-left: 50px;
}
/* Header
----------------------------------------------- */
.header-outer {
  background: transparent none repeat-x scroll 0 -400px;
  _background-image: none;
}
.Header h1 {
  font: normal normal 40px 'Trebuchet MS',Trebuchet,Verdana,sans-serif;
  color: #000000;
  text-shadow: 0 0 0 rgba(0, 0, 0, .2);
}

.Header h1 a {
  color: #000000;
}
.Header .description {
  font-size: 18px;
  color: #000000;
}
.header-inner .Header .titlewrapper {
  padding: 22px 0;
}
.header-inner .Header .descriptionwrapper {
  padding: 0 0;
}

#blog-hero {
  background-image: url('../images/texture.png');
  background-color: #303030;
  padding-left: 50px;
}

.blog-title {
  clear: left
}
/* Tabs
----------------------------------------------- */
.tabs-inner .section:first-child {
  border-top: 0 solid #dddddd;
}
.tabs-inner .section:first-child ul {
  margin-top: -1px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.tabs-inner .widget ul {
  background: transparent none repeat-x scroll 0 -800px;
  _background-image: none;
  border-bottom: 1px solid #dddddd;
  margin-top: 0;
  margin-left: -30px;
  margin-right: -30px;
}
.tabs-inner .widget li a {
  display: inline-block;
  padding: .6em 1em;
  font: normal normal 12px 'Trebuchet MS', Trebuchet, Verdana, sans-serif;
  color: #000000;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #dddddd;
}
.tabs-inner .widget li:first-child a {
  border-left: none;
}
.tabs-inner .widget li.selected a, .tabs-inner .widget li a:hover {
  color: #000000;
  background-color: #eeeeee;
  text-decoration: none;
}
/* Columns
----------------------------------------------- */
.main-outer {
  border-top: 0 solid transparent;
}
.fauxcolumn-left-outer .fauxcolumn-inner {
  border-right: 1px solid transparent;
}
.fauxcolumn-right-outer .fauxcolumn-inner {
  border-left: 1px solid transparent;
}
/* Headings
----------------------------------------------- */
div.widget > h2,
div.widget h2.title {
  margin: 0 0 1em 0;
  font: normal bold 11px 'Trebuchet MS',Trebuchet,Verdana,sans-serif;
  color: #000000;
}
/* Widgets
----------------------------------------------- */
.widget .zippy {
  color: #999999;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .1);
}
.widget .popular-posts ul {
  list-style: none;
}
/* Posts
----------------------------------------------- */
h2.date-header {
  font: normal bold 11px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
}
.date-header span {
  background-color: #bbbbbb;
  color: #ffffff;
  padding: 0.4em;
  letter-spacing: 3px;
  margin: inherit;
}
.main-inner {
  padding-top: 35px;
  padding-bottom: 65px;
}
.main-inner .column-center-inner {
  padding: 0 0;
}
.main-inner .column-center-inner .section {
  margin: 0 1em;
}
.post {
  margin: 0 0 45px 0;
}
h3.post-title, .comments h4 {
  font: normal normal 22px 'Trebuchet MS',Trebuchet,Verdana,sans-serif;
  margin: .75em 0 0;
}
.post-body {
  font-size: 110%;
  line-height: 1.4;
  position: relative;
}
.post-body img, .post-body .tr-caption-container, .Profile img, .Image img,
.BlogList .item-thumbnail img {
  padding: 2px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}
.post-body img, .post-body .tr-caption-container {
  padding: 5px;
}
.post-body .tr-caption-container {
  color: #666666;
}
.post-body .tr-caption-container img {
  padding: 0;
  background: transparent;
  border: none;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}
.post-header {
  margin: 0 0 1.5em;
  line-height: 1.6;
  font-size: 90%;
}
.post-footer {
  margin: 20px -2px 0;
  padding: 5px 10px;
  color: #666666;
  background-color: #eeeeee;
  border-bottom: 1px solid #eeeeee;
  line-height: 1.6;
  font-size: 90%;
}
#comments .comment-author {
  padding-top: 1.5em;
  border-top: 1px solid transparent;
  background-position: 0 1.5em;
}
#comments .comment-author:first-child {
  padding-top: 0;
  border-top: none;
}
.avatar-image-container {
  margin: .2em 0 0;
}
#comments .avatar-image-container img {
  border: 1px solid #eeeeee;
}
/* Comments
----------------------------------------------- */
.comments .comments-content .icon.blog-author {
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sLFwMeCjjhcOMAAAD+SURBVDjLtZSvTgNBEIe/WRRnm3U8RC1neQdsm1zSBIU9VVF1FkUguQQsD9ITmD7ECZIJSE4OZo9stoVjC/zc7ky+zH9hXwVwDpTAWWLrgS3QAe8AZgaAJI5zYAmc8r0G4AHYHQKVwII8PZrZFsBFkeRCABYiMh9BRUhnSkPTNCtVXYXURi1FpBDgArj8QU1eVXUzfnjv7yP7kwu1mYrkWlU33vs1QNu2qU8pwN0UpKoqokjWwCztrMuBhEhmh8bD5UDqur75asbcX0BGUB9/HAMB+r32hznJgXy2v0sGLBcyAJ1EK3LFcbo1s91JeLwAbwGYu7TP/3ZGfnXYPgAVNngtqatUNgAAAABJRU5ErkJggg==);
}
.comments .comments-content .loadmore a {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
.comments .comment-thread.inline-thread {
  background-color: #eeeeee;
}
.comments .continue {
  border-top: 2px solid #999999;
}
/* Accents
---------------------------------------------- */
.section-columns td.columns-cell {
  border-left: 1px solid transparent;
}
.blog-pager {
  background: transparent url(//www.blogblog.com/1kt/simple/paging_dot.png) repeat-x scroll top center;
}
.blog-pager-older-link, .home-link,
.blog-pager-newer-link {
  background-color: #ffffff;
  padding: 5px;
}
.footer-outer {
  border-top: 1px dashed #bbbbbb;
}
/* Mobile
----------------------------------------------- */
body.mobile  {
  background-size: auto;
}
.mobile .body-fauxcolumn-outer {
  background: transparent none repeat scroll top left;
}
.mobile .body-fauxcolumn-outer .cap-top {
  background-size: 100% auto;
}
.mobile .content-outer {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}
.mobile .tabs-inner .widget ul {
  margin-left: 0;
  margin-right: 0;
}
.mobile .post {
  margin: 0;
}
.mobile .main-inner .column-center-inner .section {
  margin: 0;
}
.mobile .date-header span {
  padding: 0.1em 10px;
  margin: 0 -10px;
}
.mobile h3.post-title {
  margin: 0;
}
.mobile .blog-pager {
  background: transparent none no-repeat scroll top center;
}
.mobile .footer-outer {
  border-top: none;
}
.mobile .main-inner, .mobile .footer-inner {
  background-color: #ffffff;
}
.mobile-index-contents {
  color: #666666;
}
.mobile-link-button {
  background-color: #2288bb;
}
.mobile-link-button a:link, .mobile-link-button a:visited {
  color: #ffffff;
}
.mobile .tabs-inner .section:first-child {
  border-top: none;
}
.mobile .tabs-inner .PageList .widget-content {
  background-color: #eeeeee;
  color: #000000;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.mobile .tabs-inner .PageList .widget-content .pagelist-arrow {
  border-left: 1px solid #dddddd;
}
* {font-family: Roboto, sans-serif}
div.total-page-wrapper {
  position: static;
  width: 1408px;
  margin: 0 auto;
}
header#topHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background-color: #333;
  background-image: url(http://kub.unitedcreations.xyz/images/texture.png);
  background-position: center center;
}
#headerWrapper {
  position: relative;
  width: 1408px;
  margin: 0px auto;
  overflow: hidden;
}
div.header-title {
  position: relative;
  float: left;
  width: 980px;
  margin: 0 auto;
  padding: 40px 0 0 20px;
  border: true;
}
div.header-title h6 {
  margin: 0;
  padding-left: 108px;
  font-weight: normal;
  font-size: 18px;
  color: white;
}
div.header-try {
  width: 384px;
  float: right;
  color: white;
  padding-top: 70px;
}
div.header-try h6 {
  font-size: 16px;
  margin: 0 0 20px;
  color: transparent;
}
div.header-try a {
  display: inline-block;
  font-size: 16px;
  padding: 10px 40px;
  background: none;
  border: 0;
  background-color:  #326DE6;
  border-radius: 6px;
  color: white;
  outline: none;
  cursor: pointer;
}

.main-inner .column-right-outer {
  width: 320px;
  margin-right: -320px;
}
.sidebar .widget a.widget-link:link,
.sidebar .widget a.widget-link:visited,
.sidebar .widget a.widget-link:hover,
.sidebar .widget a.widget-link:active {
  color: #326DE6;
  font-size: 22px;
}
.widget-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 0 0 0 55px;
  margin: 10px 0;
  line-height: 40px;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
}
.widget-link .fa {
  position: absolute;
  left: 0; top: 0;
  width: 40px; height: 40px;
  color: white;
  background-color: #326DE6;
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}
h2.date-header {
  font-family: Roboto-Bold;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}
h2.date-header span {
  background: none;
  color: #222;
}
h3.post-title {
  font-size: 30px;
  color: #326DE6;
}
* a:link,
* a:visited,
* a:hover,
* a:active {
  color: #326DE6;
}
.widget.BlogArchive {
  font-size: 16px;
}
.widget.BlogArchive h2 {
  font-size: 16px;
  margin: 40px 0;
}
.widget .zippy {
  color: #326DE6;
  text-shadow: none;
}
.post {
  margin-right: 80px;
}
div.post-footer {
  display: none;
}
.post-body {
  font-family: Roboto-Light;
  font-size: 16px;
  line-height: 1.5;
}
--></style>
<style id='template-skin-1' type='text/css'><!--
body {
  min-width: 1200px;
}
.content-outer, .content-fauxcolumn-outer, .region-inner {
  min-width: 1200px;
  max-width: 1200px;
  _width: 1200px;
}
.main-inner .columns {
  padding-left: 0px;
  padding-right: 310px;
}
.main-inner .fauxcolumn-center-outer {
  left: 0px;
  right: 310px;
  /* IE6 does not respect left and right together */
  _width: expression(this.parentNode.offsetWidth -
    parseInt("0px") -
    parseInt("310px") + 'px');
  }
  .main-inner .fauxcolumn-left-outer {
    width: 0px;
  }
  .main-inner .fauxcolumn-right-outer {
    width: 310px;
  }
  .main-inner .column-left-outer {
    width: 0px;
    right: 100%;
    margin-left: -0px;
  }
  .main-inner .column-right-outer {
    width: 310px;
    margin-right: -310px;
  }
  #layout {
    min-width: 0;
  }
  #layout .content-outer {
    min-width: 0;
    width: 800px;
  }
  #layout .region-inner {
    min-width: 0;
    width: auto;
  }
