---
title: "Produksjonsklar kontainer-orkestrering"
abstract: "Automatisert kontainer-deployment og -administrasjon"
cid: home
---


{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
### Kubernetes

Litt tekst om Kubernetes.

{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Skalberbar

Litt tekst om skalerberhet.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Vokser med deg

Litt tekst.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Kjør overalt

Litt tekst.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>Om å flytte 150+ microservicer til Kubernetes</h2>
<p>Av Sarah Wells, teknisk direktør for Operations and Reliability, Financial Times</p>
<button id="desktopShowVideoButton" onclick="kub.showVideo()">Se video</button>
<br>
<br>
<br>
<a href="https://www.lfasiallc.com/events/kubecon-cloudnativecon-china-2018/" button id="desktopKCButton">KubeCon i Shanghai 13.-15. november, 2018</a>
<br>
<br>
<br>
<br>
<a href="https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2018/" button id="desktopKCButton">KubeCon i Seattle 11.-13. desember, 2018</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}