---
title: "Система оркестрування контейнерів промислового класу"
abstract: "Автоматичне розгортання, масштабування та управління контейнерами"
cid: home
layout: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}

[Kubernetes]({{< relref "/docs/concepts/overview/" >}}), скорочено K8s — це система з відкритими сирцями для автоматичного розгортання, масштабування та управління контейнеризованими застосунками.

Kubernetes гуртує контейнери, з яких складається застосунок, у логічні елементи для полегшення їх виявлення та управління. Kubernetes спирається на [15 річний досвід роботи з промисловими навантаженнями в Google](https://queue.acm.org/detail.cfm?id=2898444), поєднуючи найкращі ідеї та практики спільноти.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}

#### Глобальний масштаб {#planet-scale}

Систему створено на тих самих принципах, які дозволяють Google запускати мільярди контейнерів щотижня, Kubernetes може масштабуватися, не вимагаючи збільшення вашої операційної команди.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}

#### Невичерпна функціональність {#never-outgrow}

Незалежно від того, чи ви тестуєте локально, чи керуєте глобальною корпорацією, гнучкість Kubernetes зростає разом з вами, забезпечуючи стабільну та легку роботу ваших застосунків, незалежно від того, наскільки складними є ваші потреби.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}

#### K8s працює всюди {#run-k8s-anywhere}

Kubernetes — проєкт з відкритими сирцями. Він дозволяє скористатися перевагами локальної, гібридної чи хмарної інфраструктури, щоб легко переміщати застосунки туди, де вони потрібні.

Для завантаження Kubernetes відвідайте розділ [Завантаження](/releases/download/).

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="video_banner_homepage_XNZvGHlpJ_4" >}}
<div class="video-text-optional">
  <h2>Повний посібник для початківців з хмарних технологій</h2>
  <p class="presenter-byline">від Kyle Penfound, Dagger &amp; Cortney Nickerson, Kubeshop</p>
  <button id="desktopShowVideoButton" onclick="kub.showVideo()">Дивитись</button>
</div>
<div id="videoPlayer">
  <iframe data-url="https://www.youtube.com/embed/XNZvGHlpJ_4?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/section id="upcoming-events" >}}
<h2>Відвідайте наступні події KubeCon + CloudNativeCon</h3>
  <!-- TODO: change this to a shortcode that auto-updates from a schedule -->
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2026/" class="desktopKCButton"><strong>Europe</strong> (Амстердам, Березень. 23-26, 2026)</a>
  </div>
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america-2026/" class="desktopKCButton"><strong>North America</strong> (Солт-Лейк-Сіті, Листопад. 9-12, 2026)</a>
  </div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
