{{ define "main" }}

{{/*
The class that has been added to the two sections in here is based on the
ones present in the shortcode "blocks/section.html", which makes these two partials
look and behave the same as the sections created by the shortcode
*/}}

<section id="search-bar" class="row td-box td-box---1 td-box--gradient td-box--height-auto">
  {{ partial "search-input" .}}
</section>
{{ partial "tutorial-signpost.html" . }}
{{ .Content }}
<section id="cncf" class="row td-box td-box---1 td-box--gradient td-box--height-auto">
    {{ partial "cncf.html" . }}
</section>
{{- end -}}

