---
title: "Orquestração de contêiner pronto para produção"
abstract: "Implantação, dimensionamento e gerenciamento de contêiner automatizado"
cid: home
---

{{< deprecationwarning >}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
### Kubernetes (K8s) é um produto Open Source utilizado para automatizar a implantação, o dimensionamento e o gerenciamento de aplicativos em contêiner.

Ele agrupa contêineres que compõem uma aplicação em unidades lógicas para facilitar o gerenciamento e a descoberta de serviço. O Kubernetes se baseia em [15 anos de experiência na execução de containers em produção no Google](http://queue.acm.org/detail.cfm?id=2898444), combinado com as melhores ideias e práticas da comunidade.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Escalonando containers, não equipes

Concebido com base nos mesmos princípios que permitem ao Google executar milhares de contêineres por semana, o Kubernetes pode ser redimensionado sem aumentar sua equipe de operações.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Nunca superar

Seja testando localmente ou executando uma empresa global, a flexibilidade do Kubernetes cresce com você para fornecer seus aplicativos de maneira consistente e fácil, independentemente de quão complexa seja sua necessidade.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Rode em qualquer lugar

O Kubernetes é Open Source, o que te oferece a liberdade de utilizá-lo em seu próprio cluster local, em uma arquitetura híbrida ou em qualquer Provedor de Computação na Nuvem público, permitindo que você mova sem esforço suas aplicações para onde você quiser.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>Os desafios da migração de mais de 150 micro serviços para o Kubernetes</h2>
        <p>Sarah Wells, Diretora Técnica de Operações e Confiabilidade do Financial Times</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">Assista Video</button>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/events/kubecon-cloudnativecon-europe-2019" button id="desktopKCButton">KubeCon em Barcelona on Maio 20-23, 2019</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://www.lfasiallc.com/events/kubecon-cloudnativecon-china-2019" button id="desktopKCButton">KubeCon em Shanghai em June 24-26, 2019</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features id="features" >}}
<main>
    <h3 class="center">Recursos do Kubernetes</h3>
    <div class="feature-box">
        <div>
            <h4><a href="/docs/concepts/services-networking/service/">Descoberta de serviço e balanceamento de carga</a></h4>Não
            precisa modificar seu aplicativo para usar um mecanismo de descoberta de serviço desconhecido. O Kubernetes já
            contém seus próprios endereços IPs e um único nome de DNS para um conjunto de contêineres e pode balancear a carga
            deles.
        </div>
        <div>
            <h4><a href="/docs/concepts/configuration/manage-compute-resources-container/">Embalagem automática</a>
            </h4>Coloca automaticamente os contêineres com base em seus requisitos de recursos e outras restrições, embora não
            sacrificando a disponibilidade. Combinando cargas de trabalho críticas e de melhor esforço para aumentar a utilização e salvar
            ainda mais recursos.
        </div>
    </div>
    <div class="feature-box">
        <div>
            <h4><a href="/docs/concepts/storage/persistent-volumes/">Orquestração de armazenamento</a></h4>Montar automaticamente
            o sistema de armazenamento de sua escolha, seja de armazenamento local, um provedor de nuvem pública, como <a
                href="https://cloud.google.com/storage/">GCP</a> ou <a
                href="https://aws.amazon.com/products/storage/">AWS</a>, ou um sistema de armazenamento de rede, como NFS, iSCSI,
            Gluster, Ceph, Cinder, ou Flocker.
        </div>
        <div>
            <h4><a
                    href="/docs/concepts/workloads/controllers/replicationcontroller/#how-a-replicationcontroller-works">Auto Controle</a>
            </h4>Reinicia os contêineres que falham, substituem e reprogramam contêineres quando os nós morrem, mata os contêineres
            que não respondem à sua verificação de saúde definida pelo usuário e não as anuncia aos clientes até que eles estejam
            pronto para servir.
        </div>
    </div>
    <div class="feature-box">
        <div>
            <h4><a href="/docs/concepts/workloads/controllers/deployment/">Deploy e Rollback automatizados</a></h4>
            O Kubernetes implementa progressivamente alterações em seu aplicativo ou em sua configuração, enquanto monitora
            a integridade do aplicativo para garantir que ele não mate todas as suas instâncias ao mesmo tempo. Se algo der errado,
            O Kubernetes irá reverter a mudança para você. Aproveite o crescente ecossistema de soluções de implantação.
        </div>
        <div>
            <h4><a href="/docs/concepts/configuration/secret/">Gerenciamento secreto e de configuração</a></h4>Implantar e
            atualizar segredos e configurações de aplicativos sem recriar sua imagem e sem expor segredos em
            sua configuração de pilha.
        </div>
    </div>
    <div class="feature-box">
        <div>
            <h4><a href="/docs/concepts/workloads/controllers/jobs-run-to-completion/">Execução em lote</a></h4>Além dos serviços, o Kubernetes pode gerenciar suas cargas de trabalho de lote e de CI, substituindo os recipientes que falham, se
            desejado.
        </div>
        <div>
            <h4><a href="/docs/tasks/run-application/horizontal-pod-autoscale/">Escala Horizontal</a></h4>Escale seu
            aplicativo para cima e para baixo com um comando simples, com uma interface do usuário ou automaticamente com base no uso da CPU.
        </div>
    </div>
</main>
{{< /blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
{{< /blocks/case-studies >}}