/*
Error: Invalid CSS after "0": expected expression (e.g. 1px, bold), was ";"
        on line 1762 of _base.sass
        from line 5 of styles.sass

1757: 
1758: 
1759: 
1760: /* Google Search *\/
1761: .cse .gsc-control-cse, .gsc-control-cse
1762: 	padding: 0;
1763: 
1764: 
1765: .gsc-control-cse table, .gsc-control-cse-en table
1766: 	margin: 0px !important;
1767: 

Backtrace:
_base.sass:1762
styles.sass:5
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/scss/parser.rb:1278:in `expected'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/script/lexer.rb:231:in `expected!'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/script/parser.rb:762:in `assert_done'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/script/parser.rb:69:in `parse'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/script/parser.rb:228:in `parse'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/script.rb:27:in `parse'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:1177:in `parse_script'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:749:in `parse_property'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:708:in `parse_property_or_rule'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:667:in `parse_line'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:540:in `build_tree'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:559:in `block in append_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:558:in `each'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:558:in `append_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:549:in `block in build_tree'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:542:in `each'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:542:in `build_tree'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:559:in `block in append_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:558:in `each'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:558:in `append_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:417:in `_to_tree'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:321:in `to_tree'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:88:in `with_import'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/Users/zarnold/.rvm/gems/ruby-2.4.1/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/Users/zarnold/.rvm/gems/ruby-2.4.1/bin/sass:23:in `load'
/Users/zarnold/.rvm/gems/ruby-2.4.1/bin/sass:23:in `<main>'
/Users/zarnold/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `eval'
/Users/zarnold/.rvm/gems/ruby-2.4.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"0\": expected expression (e.g. 1px, bold), was \";\"\A         on line 1762 of _base.sass\A         from line 5 of styles.sass\A \A 1757: \A 1758: \A 1759: \A 1760: /* Google Search */\A 1761: .cse .gsc-control-cse, .gsc-control-cse\A 1762: 	padding: 0;\A 1763: \A 1764: \A 1765: .gsc-control-cse table, .gsc-control-cse-en table\A 1766: 	margin: 0px !important;\A 1767: "; }
