---
title: Community
---

<!Doctype html>
<html id="community">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>Community</h1>
</section>



<section id="mainContent">
	<main>
		<div class="content">
			<h3>Ensuring Kubernetes works well everywhere and for everyone.</h3>
			<p>Connect with the Kubernetes community on our <a href="http://slack.k8s.io/">Slack channel</a> or join the
				<a href="https://groups.google.com/forum/#!forum/kubernetes-dev">Kubernetes-dev Google group</a>. A weekly
				community meeting takes place via video conference to discuss the state of affairs,
				<a href="https://groups.google.com/forum/#!forum/kubernetes-community-video-chat">get a calendar invite</a>
				to participate.</p>
		</div>
		<div class="content">
			<h3>SIGs</h3>
			<p>Have a special interest in how Kubernetes works with another technology?  See our ever growing
				<a href="https://github.com/kubernetes/kubernetes/wiki/Special-Interest-Groups-(SIGs)">lists of SIGs</a>,
				from AWS and Openstack to Big Data and Scalability, there’s a place for you to contribute and instructions
				for forming a new SIG if your special interest isn’t covered (yet).</p>
		</div>
		<div class="content">
			<h3>Customers</h3>
			<div class="company-logos">
				<img src="/images/community_logos/zulily_logo.png">
				<img src="/images/community_logos/we_pay_logo.png">
				<img src="/images/community_logos/viacom_logo.png">
				<img src="/images/community_logos/goldman_sachs_logo.png">
				<img src="/images/community_logos/ebay_logo.png">
				<img src="/images/community_logos/box_logo.png">
				<img src="/images/community_logos/wikimedia_logo.png">
				<img src="/images/community_logos/soundcloud_logo.png">
				<img src="/images/community_logos/new_york_times_logo.png">
				<img src="/images/community_logos/kabam_logo.png">
			</div>
		</div>
		<div class="content">
			<h3>Events</h3>
			<div id="calendarWrapper">
				<iframe src="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com&ctz=America/Los_Angeles"
				        frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
		<div class="content">
			<h3>Partners</h3>
			<p>We are working with a broad group of partners who contribute to the kubernetes core codebase, making it stronger and richer, as well as help in growing the kubernetes ecosystem supporting
				a sprectrum of compelmenting platforms, from open source solutions to market-leading technologies.</p>
			<div class="partner-logos">
        <a href="https://coreos.com/kubernetes"><img src="/images/community_logos/core_os_logo.png"></a>
				<a href="https://deis.com"><img src="/images/community_logos/deis_logo.png"></a>
				<a href="https://sysdig.com/blog/monitoring-kubernetes-with-sysdig-cloud/"><img src="/images/community_logos/sysdig_cloud_logo.png"></a>
				<a href="https://puppet.com/blog/managing-kubernetes-configuration-puppet"><img src="/images/community_logos/puppet_logo.png"></a>
				<a href="https://www.citrix.com/blogs/2016/07/15/citrix-kubernetes-a-home-run/"><img src="/images/community_logos/citrix_logo.png"></a>
				<a href="http://wercker.com/workflows/partners/kubernetes/"><img src="/images/community_logos/wercker_logo.png"></a>
				<a href="http://rancher.com/kubernetes/"><img src="/images/community_logos/rancher_logo.png"></a>
				<a href="https://www.openshift.com/"><img src="/images/community_logos/red_hat_logo.png"></a>
				<a href="https://tectonic.com/press/intel-coreos-collaborate-on-openstack-with-kubernetes.html"><img src="/images/community_logos/intel_logo.png"></a>
				<a href="https://elasticbox.com/kubernetes/"><img src="/images/community_logos/elastickube_logo.png"></a>
				<a href="https://platform9.com/blog/containers-as-a-service-kubernetes-docker"><img src="/images/community_logos/platform9_logo.png"></a>
				<a href="http://www.appformix.com/solutions/appformix-for-kubernetes/"><img src="/images/community_logos/appformix_logo.png"></a>
				<a href="http://kubernetes.io/docs/getting-started-guides/dcos/"><img src="/images/community_logos/mesosphere_logo.png"></a>
				<a href="http://docs.datadoghq.com/integrations/kubernetes/"><img src="/images/community_logos/datadog_logo.png"></a>
				<a href="https://apprenda.com/kubernetes-support/"><img src="/images/community_logos/apprenda_logo.png"></a>
			</div>
		</div>
	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>Talk to Us!</h3>
		<h4>We would love to hear from you, how you are using Kubernetes,<br> and what we can do to make it better.</h4>
		<div id="bigSocial">
			<div>
				<a href="https://twitter.com/kubernetesio">@kubernetesio</a>
				<p>Get the latest news and updates.</p>
			</div>
			<div>
				<a href="https://github.com/kubernetes/kubernetes">Github Project</a>
				<p>Check out the project and consider contributing.</p>
			</div>
			<div>
				<a href="http://slack.k8s.io/">#kubernetes-users</a>
				<p>Our Slack channel is the best way to contact our engineers and share your ideas with them.</p>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/kubernetes">Stack Overflow</a>
				<p>Our user forum is a great place to go for community support.</p>
			</div>
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>
