---
title: Community
---

<!Doctype html>
<html id="community">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>Community</h1>
</section>

<section id="mainContent">
	<main>
		<div class="content">
			<h3>Ensuring Kubernetes works well everywhere and for everyone.</h3>
			<p>Connect with the Kubernetes community on our <a href="http://slack.k8s.io/">Slack channel</a> or join the
				<a href="https://groups.google.com/forum/#!forum/kubernetes-dev">Kubernetes-dev Google group</a>. A weekly
				community meeting takes place via video conference to discuss the state of affairs,
				<a href="https://groups.google.com/forum/#!forum/kubernetes-community-video-chat">get a calendar invite</a>
				to participate.</p>
		</div>
		<div class="content">
			<h3>SIGs</h3>
			<p>Have a special interest in how Kubernetes works with another technology?  See our ever growing
				<a href="https://github.com/kubernetes/kubernetes/wiki/Special-Interest-Groups-(SIGs)">lists of SIGs</a>,
				from AWS and Openstack to Big Data and Scalability, there’s a place for you to contribute and instructions
				for forming a new SIG if your special interest isn’t covered (yet).</p>
		</div>
		<div class="content">
			<h3>Events</h3>
			<div id="calendarWrapper">
				<iframe src="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com&ctz=America/Los_Angeles"
				        frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>Talk to Us!</h3>
		<h4>We would love to hear from you, how you are using Kubernetes,<br> and what we can do to make it better.</h4>
		<div id="bigSocial">
			<div>
				<a href="https://twitter.com/kubernetesio">@kubernetesio</a>
				<p>Get the latest news and updates.</p>
			</div>
			<div>
				<a href="https://github.com/kubernetes/kubernetes">Github Project</a>
				<p>Check out the project and consider contributing.</p>
			</div>
			<div>
				<a href="http://slack.k8s.io/">#kubernetes-users</a>
				<p>Our Slack channel is the best way to contact our engineers and share your ideas with them.</p>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/kubernetes">Stack Overflow</a>
				<p>Our user forum is a great place to go for community support.</p>
			</div>
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>
