---
title: "منسق الحاويات من درجة الإنتاج"
abstract: "التنسيق الاوتوماتيكي للحاويات٬ قياسها و إدارتها"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
[Kubernetes]({{< relref "/docs/concepts/overview/" >}}) يُعرف أيضًا باسم ك8ز، هو نظام مفتوح المصدر لتنسيق، قياس و إدارة التطبيقات المعبأة في حاويات.

يقوم بتجميع الحاويات التي تشكل تطبيقًا في وحدات منطقية لتسهيل الإدارة والاكتشاف. يستند كوبيرنيتيس على [15 عام من الخبرة في إدارة أعباء عمل الإنتاج في جوجل](http://queue.acm.org/detail.cfm?id=2898444)، إلى جانب أفضل الأفكار والممارسات من المجتمع.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### مهما كان المقياس

تم تصميم كوبيرنيتيس وفقًا لنفس المبادئ التي تسمح لـجوجل بتشغيل مليارات الحاويات أسبوعيًا، ويمكنه رفع القياس دون الحاجة لزيادة فريق العمليات لديك.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### مهما كان التعقيد

سواء كنت تُجري إختبارا محليًا أو تدير شركة عالمية، فإن مرونة كوبيرنيتيس تتكيف معك لتقديم تطبيقاتك دون إنقطاع وبسهولة بغض النظر عن مدى تعقيد حاجتك.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### يشتغل في كل مكان

كوبيرنيتيس مشروع مفتوح المصدر٬ مما يمنحك حرية الاستفادة من البنية التحتية السحابية سواءً كانت محلية، مختلطة أو عامة، كما يتيح لك نقل أعباء العمل بسهولة إلى حيث تريد.

من أجل تحميل كوبيرنيتيس, قم بزيارة فقرة [التحميل](/releases/download/).

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>تحدي ترحيل أكثر من 150 خدمة مصغرة (ماكرو سيرفيس) إلى كوبيرنيتيس</h2>
        <p>مع سارة ويلز، المديرة الفنية للعمليات والموثوقية، فاينانشيال تايمز</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">شاهد الفيديو</button>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" button id="desktopKCButton"> حضور KubeCon و CloudNativeCon أوروبا ما بين 18 و 21 أبريل 2023</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/" button id="desktopKCButton"> حضور KubeCon و CloudNativeCon أمريكا الشمالية ما بين 6 و 9 نوفمبر 2023</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
