---
title: "منسق حاويات"
abstract: "التنسيق الاوتوماتيكي للحاويات و إدارتها"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
[كوبرناتيز]({{< relref "/docs/concepts/overview/" >}})، يُعرف أيضًا باسم ك8ز، هو نظام مفتوح المصدر لتنسيق، تكييف و إدارة التطبيقات المعبأة في حاويات.

يقوم بتجميع الحاويات التي تشكل تطبيقًا في وحدات منطقية لتسهيل الإدارة والاكتشاف. يستند كوبرناتيز على [15 عامًا من الخبرة في إدارة أعباء عمل الإنتاج في جوجل](http://queue.acm.org/detail.cfm?id=2898444)، إلى جانب أفضل الأفكار والممارسات من المجتمع.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### مهما كان المقياس

تم تصميم كوبرناتيز وفقًا لنفس المبادئ التي تسمح لـجوجل بتشغيل مليارات الحاويات أسبوعيًا، ويمكنه التوسع دون الحاجة لزيادة فريق العمليات لديك.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### مهما كان التعقيد
سواء كنت تُجري إختبارا محليًا أو تدير مؤسسة عالمية، فإن مرونة كوبرناتيز تتكيف معك لتقديم تطبيقاتك دون إنقطاع وبسهولة بغض النظر عن مدى تعقيد حاجتك.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### في أي مكان كان

كوبرناتيز مفتوح المصدر مما يمنحك حرية الاستفادة من البنية التحتية السحابية المحلية أو المختلطة أو العامة، مما يتيح لك نقل أعباء العمل بسهولة إلي حيث تريد.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>تحدي ترحيل أكثر من 150 خدمة مصغرة إلى كوبرناتيز</h2>
        <p>مع سارة ويلز، المديرة الفنية للعمليات والموثوقية، فاينانشيال تايمز</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">شاهد الفيديو</button>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america" button id="desktopKCButton">حضور كيوبكون أمريكا الشمالية في 24-28 أكتوبر 2022</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" button id="desktopKCButton">حضور كيوبكون أوروبا في الفترة من 17 إلى 21 أبريل 2023</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
