{{- $opts := dict }}
{{- if not (transform.CanHighlight .Type) }}
  {{- $opts = dict "type" "text" }}
{{- end }}
{{- $result := transform.HighlightCodeBlock . $opts }}
{{- $label := T "copy_codeblock_to_clipboard" | default "Copy code to clipboard" }}
<div class="codeblock-with-copy">
  <button class="copy-codeblock" type="button" aria-label="{{ $label }}" title="{{ $label }}">
    {{- with resources.Get "images/copycode.svg" -}}
    <img src="{{ .RelPermalink }}" class="icon-copycode" alt="" aria-hidden="true" />
    {{- end -}}
  </button>
  {{- $result.Wrapped -}}
</div>
