<!-- Bottom Bar Component -->
<div id="bottom-bar" class="bottom-bar">
  <!-- Top Bar -->
  <div class="bottom-bar__top">
    {{ partial "bottom-bar/partials/bottom-bar-buttons.html" . }}
  </div>
  
  <!-- Drawer Content -->
  <div class="bottom-bar__drawer" id="bb-drawer">
    <!-- ToC Content -->
    <div class="bottom-bar__content bottom-bar__content--toc">
      {{ partial "bottom-bar/partials/bottom-bar-toc.html" . }}
    </div>
    
    <!-- Search Content -->
    <div class="bottom-bar__content bottom-bar__content--search">
      {{ partial "bottom-bar/partials/bottom-bar-search.html" . }}
    </div>
  </div>
</div>

<!-- Load Bottom Bar Scripts -->
<script src="{{ "js/bottom-bar/utils.js" | relURL }}"></script>
<script src="{{ "js/bottom-bar/state-manager.js" | relURL }}"></script>
<script src="{{ "js/bottom-bar/drawer-controller.js" | relURL }}"></script>
<script src="{{ "js/bottom-bar/toc-handler.js" | relURL }}"></script>
<script src="{{ "js/bottom-bar/search-handler.js" | relURL }}"></script>
<script src="{{ "js/bottom-bar/scroll-handler.js" | relURL }}"></script>
<script src="{{ "js/bottom-bar/mobile-handler.js" | relURL }}"></script>
<script src="{{ "js/bottom-bar/bottom-bar.js" | relURL }}"></script>
