---
title: "Solution professionnelle d’orchestration de conteneurs"
abstract: "Déploiement, mise à l'échelle et gestion automatisée des conteneurs"
cid: home
sitemap:
  priority: 1.0
---

{{< site-searchbar >}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
### [Kubernetes (K8s)]({{< relref "/docs/concepts/overview/" >}}) est un système open-source permettant d'automatiser le déploiement, la mise à l'échelle et la gestion des applications conteneurisées.

Les conteneurs qui composent une application sont regroupés dans des unités logiques pour en faciliter la gestion et la découverte. Kubernetes s’appuie sur [15 années d’expérience dans la gestion de charges de travail de production (workloads) chez Google](http://queue.acm.org/detail.cfm?id=2898444), associé aux meilleures idées et pratiques de la communauté.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Quel que soit le nombre

Conçu selon les mêmes principes qui permettent à Google de gérer des milliards de conteneurs par semaine, Kubernetes peut évoluer sans augmenter votre équipe d'opérations.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Quelle que soit la complexité

Qu'il s'agisse de tester localement ou d'une implémentation globale, Kubernetes est suffisamment flexible pour fournir vos applications de manière cohérente et simple, quelle que soit la complexité de vos besoins.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Quel que soit l'endroit

Kubernetes est une solution open-source qui vous permet de tirer parti de vos infrastructures qu'elles soient sur site (on-premises), hybride ou en Cloud publique. Vous pourrez ainsi répartir sans effort vos workloads là où vous le souhaitez.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>Les défis de la migration de plus de 150 microservices vers Kubernetes</h2>
        <p>Par Sarah Wells, directrice technique des opérations et de la fiabilité, Financial Times</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">Voir la video (en)</button>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america-2024/" button id="desktopKCButton">Venez au KubeCon + CloudNativeCon North America du 12 au 15 Novembre</a>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-india/" button id="desktopKCButton">Venez au KubeCon + CloudNativeCon India du 11 au 12 Decembre</a>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2025/" button id="desktopKCButton">Attend KubeCon + CloudNativeCon Europe du 1 au 4 Avril</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
