---
title: "Solution professionelle d'Orchestration de Conteneurs"
abstract: "Déploiement, mise à l'échelle et gestion automatisés des conteneurs"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section class="k8s-overview" >}}
{{% blocks/feature image="flower" id="feature-primary" %}}
[Kubernetes]({{< relref "/docs/concepts/overview/" >}}), connu aussi sous K8s, est un système *open source* pour automatiser le déploiement, la mise à l'échelle, et la gestion des applications conteneurisées.

Il regroupe les conteneurs contenant une application en unité logiques pour faciliter la gestion et la découverte. Kubernetes s'appuie sur [15 ans d'expériences sur l'exécution de charges de travail dans des environnements de production chez Google](https://queue.acm.org/detail.cfm?id=2898444), ainsi que sur les meilleures idées et bonnes pratiques de la communauté..
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Mise à l'échelle contrôlée

Conçu selon les mêmes principes qui permettent à Google d'exécuter des milliards de conteneurs par semaine, Kubernetes peut évoluer sans agrandir votre équipe d'opérations.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### S'adapte selon vos besoins

Que vous testiez localement ou que vous gériez une entreprise internationale, la flexibilité de Kubernetes évolue avec vous pour mettre à disposition facilement vos applications et de manière cohérente, quelle que soit la complexité de vos besoins.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Utiliser K8s n'importe où

Kubernetes est une solution *open-source* vous donnant la liberté de tirer parti d'une infrastructure sur site, hybride ou dans le nuage public, vous permettant de déplacer sans effort les charges de travail là où vous le souhaitez.

Pour obtenir Kubernetes, dirigez vous vers la section [Téléchargement](/releases/download/).

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
    <h2>Les défis de la migration de plus de 150 micro services vers Kubernetes</h2>
        <p>Par Sarah Wells, Directrice Technique des Opérations et de la Fiabilité, Financial Times</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">Regarder la Video</button>

    <h3>Assister aux prochains événements KubeCon + CloudNativeCon</h3>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-china/" class="desktopKCButton"><strong>Chine</strong> (Hong Kong, Jun 10-11)</a>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-japan/" class="desktopKCButton"><strong>Japon</strong> (Tokyo, Jun 16-17)</a>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-india/" class="desktopKCButton"><strong>Inde</strong> (Hyderabad, Aug 6-7)</a>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/" class="desktopKCButton"><strong>Amérique du Nord</strong> (Atlanta, Nov 10-13)</a>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2026/" class="desktopKCButton"><strong>Europe</strong> (Amsterdam, Mar 23-26, 2026)</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}

{{< kubeweekly id="kubeweekly" >}}
