---
title: "प्रोडक्शन-ग्रेड कंटेनर ऑर्केस्ट्रेशन"
abstract: "स्वचालित कंटेनर डिप्लॉयमेंट, स्केलिंग और प्रबंधन"
cid: home
sitemap:
priority: 1.0
---

{{< blocks/section class="k8s-overview" >}}
{{% blocks/feature image="flower" id="feature-primary" %}}
[कुबेरनेट्स]({{< relref "/docs/concepts/overview/" >}}), जिसे K8s के नाम से भी जाना जाता है, कंटेनरीकृत एप्लिकेशन के डिप्लॉयमेंट, स्केलिंग और प्रबंधन को स्वचालित करने के लिए एक ओपन सोर्स सिस्टम है।

यह एप्लिकेशन को लॉजिकल यूनिट्स में समूहित करता है जिससे उन्हें प्रबंधित करना और खोज पाना आसान हो जाता है। कुबेरनेट्स [Google में 15 वर्षों के प्रोडक्शन वर्कलोड चलाने के अनुभव](https://queue.acm.org/detail.cfm?id=2898444) और समुदाय से प्राप्त सर्वोत्तम विचारों और प्रथाओं पर आधारित है।
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### वैश्विक स्केलेबिलिटी

उन्हीं सिद्धांतों पर डिज़ाइन किया गया है जो Google को प्रति सप्ताह अरबों कंटेनर चलाने में सक्षम बनाते हैं, कुबेरनेट्स आपकी टीम बढ़ाए बिना स्केल कर सकता है।

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### सीमाओं से परे

चाहे आप स्थानीय रूप से परीक्षण कर रहे हों या वैश्विक स्तर पर उद्यम चला रहे हों, कुबेरनेट्स की लचीलापन आपको निरंतरता और सरलता के साथ एप्लिकेशन डिलीवर करने की सुविधा देता है।

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### कहीं भी चलाएँ

कुबेरनेट्स ओपन सोर्स है, जिससे आप ऑन-प्रिमाइसेस, हाइब्रिड या पब्लिक क्लाउड इन्फ्रास्ट्रक्चर का लाभ उठा सकते हैं, और वर्कलोड्स को वहाँ ले जा सकते हैं जहाँ यह आपके लिए मायने रखता है।

कुबेरनेट्स डाउनलोड करने के लिए [डाउनलोड](/releases/download/) सेक्शन देखें।

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
  <h2>150+ माइक्रोसर्विसेज को कुबेरनेट्स में माइग्रेट करने की चुनौतियाँ</h2>
  <p>Sarah Wells, Technical Director for Operations and Reliability, Financial Times द्वारा</p>
  <button id="desktopShowVideoButton" onclick="kub.showVideo()">वीडियो देखें</button>

  <h3>आगामी KubeCon + CloudNativeCon इवेंट्स में भाग लें</h3>
  <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-india/" class="desktopKCButton"><strong>भारत</strong> (हैदराबाद, 6-7 अगस्त)</a>
  <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/" class="desktopKCButton"><strong>नॉर्थ अमेरिका</strong> (अटलांटा, 10-13 नवम्बर)</a>
  <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2026/" class="desktopKCButton"><strong>यूरोप</strong> (एम्स्टर्डैम, 23-26 मार्च, 2026)</a>
</div>
<div id="videoPlayer">
  <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
  <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}

{{< kubeweekly id="kubeweekly" >}}
