{{ define "main" }}
{{ $pages := .Pages }}
{{ with site.Params.language_alternatives }}
{{ range . }}
       {{ with (where $.Translations ".Lang" . ) }}
       {{ $p := index . 0 }}
       {{ $pages = $pages | lang.Merge $p.Pages }}
       {{ end }}
{{ end }}
{{ end }}
{{ $featured := (where $pages "Params.featured" true).ByWeight | first 4 }}
	{{ partial "deprecation-warning.html" . }}
	<section id="case-studies">
		<h2>{{ .Title }}</h2>
		<div class="case-studies">
			{{ range $featured }}
			{{ template "case-study-featured-block" (dict "ctx" $ "page" .) }}
			{{ end }}
		</div>
	</section>
{{ $featuredVideos := where .Pages ".Params.video" "!=" nil }}
{{ with $featuredVideos }}
{{ with index $featuredVideos 0 }}
{{ $altText := .LinkTitle }}
	<section id="video">
		<div class="video-quote">
			<h4>"{{ .Params.quote | html }}"</h4>
			{{ $img := .Resources.GetMatch "video.png" }}
			{{ $small := .Resources.GetMatch "**small*.svg" }}
			{{ with $small }}<img height="60px" src="{{ .RelPermalink }}" alt="{{ $altText }}">{{ end }}
		</div>
		<div class="case-study-video">
			<iframe src="{{ .Params.video | safeURL }}" allowfullscreen title="{{ $altText }}"></iframe>
		</div>
	</section>
{{ end }}
{{ end }}
<section id="users">
	<h3>{{ .Title }}</h3>
	<div id="usersGrid">
		{{ range $pages.ByTitle }}
		{{ $logo := .Resources.GetMatch "**{feature,logo}*.svg" }}
		{{ if not $logo }}
			{{ $logo = .Resources.GetMatch "**logo*.png" }}
		{{ end }}
		{{ $p := . }}
		<a target="_blank" href="{{ with $p.Params.content_url }}{{ . | safeURL }}{{ else }}{{ .RelPermalink }}{{ end }}">
		{{ with $logo }}
			<img src="{{ .RelPermalink }}" width="215px" height="127px" alt="{{ $p.LinkTitle }}">
		{{ else }}
			{{ errorf "Case Studies: Missing logo for %s. Put a PNG or SVG with the word 'logo' in the filename into %q" $p.LinkTitle $p.File.Dir }}
		{{ end }}
		</a>
		{{ end }}
		<a target="_blank" href="https://docs.google.com/a/google.com/forms/d/e/1FAIpQLScuI7Ye3VQHQTwBASrgkjQDSS5TP0g3AXfFhwSM9YpHgxRKFA/viewform" class="tell-your-story">{{ T "layouts_case_studies_list_tell" }}</a>	</div>
</section>
{{ .Content }}
{{ end }}
{{ define "case-study-featured-block" }}
{{ $isForeignLanguage := (ne .page.Lang .ctx.Lang)}}
{{ $logo := .page.Resources.GetMatch "**{feature,logo}*.svg" }}
{{ $altText := .page.LinkTitle}}
<div class="case-study">
	{{ with $logo }}<img src="{{ .RelPermalink }}" alt="{{ $altText }}">{{ end }}
	<p class="quote">"{{ .page.Params.quote | html }}"</p>
	<a href="{{ .page.RelPermalink }}"{{ if $isForeignLanguage }} target="_blank"{{ end }}>
		{{ T "main_read_about"}} {{ .page.LinkTitle }}
	</a>
</div>
{{ end }}
{{ define "announcement" }}
<!-- skip announcement -->
{{ end }}
