---
title: "Üretim Sınıfı Konteyner Orkestrasyonu"
abstract: "Otomatik konteyner dağıtımı, ölçeklendirme ve yönetimi"
cid: home
layout: home
sitemap:
  priority: 1.0
---

{{< blocks/section class="k8s-overview" >}}
{{% blocks/feature image="flower" id="feature-primary" %}}
[Kubernetes]({{< relref "/docs/concepts/overview/" >}}), K8s olarak da bilinen, konteyner haline getirilmiş uygulamaların dağıtımını, ölçeklendirilmesini ve yönetimini otomatikleştirmek için kullanılan açık kaynaklı bir sistemdir.

Bir uygulamayı oluşturan konteynerleri kolay yönetim ve keşif için mantıksal birimler halinde gruplandırır. Kubernetes, [Google'da üretim iş yüklerini çalıştırma konusundaki 15 yıllık deneyimin](https://queue.acm.org/detail.cfm?id=2898444) üzerine, topluluğun en iyi fikirleri ve uygulamalarıyla birlikte inşa edilmiştir.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Gezegen ölçeğinde

Google'ın haftada milyarlarca konteyner çalıştırmasını sağlayan aynı ilkeler üzerine tasarlanan Kubernetes, operasyon ekibinizi büyütmeden ölçeklenebilir.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Hiç sınırlanmayın

İster yerel ortamda test ediyor ister küresel bir kuruluş işletiyor olun, Kubernetes'in esnekliği, ihtiyacınız ne kadar karmaşık olursa olsun uygulamalarınızı tutarlı ve kolay bir şekilde sunmak için sizinle birlikte büyür.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### K8s'i her yerde çalıştırın

Kubernetes açık kaynaklıdır; size yerel (on-premises), hibrit veya genel bulut altyapısından yararlanma özgürlüğü verir ve iş yüklerinizi sizin için önemli olan yere zahmetsizce taşımanıza olanak tanır.

Kubernetes'i indirmek için [indirme](/releases/download/) bölümünü ziyaret edin.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="video_banner_homepage_XNZvGHlpJ_4" >}}
<div class="video-text-optional">
    <h2>Bulutta Yerel için Mutlak Başlangıç Kılavuzu</h2>
    <p class="presenter-byline">Kyle Penfound (Dagger) ve Cortney Nickerson (Kubeshop) tarafından</p>
    <button id="desktopShowVideoButton" onclick="kub.showVideo()">Videoyu İzle</button>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/XNZvGHlpJ_4?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}
{{< blocks/section id="upcoming-events" >}}
<h2>Yaklaşan KubeCon + CloudNativeCon etkinliklerine katılın</h2>
  <!-- TODO: change this to a shortcode that auto-updates from a schedule -->
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2026/" class="desktopKCButton"><strong>Avrupa</strong> (Amsterdam, 23-26 Mart 2026)</a>
  </div>
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america-2026/" class="desktopKCButton"><strong>Kuzey Amerika</strong> (Salt Lake City, 9-12 Kasım 2026)</a>
  </div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
