<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/hellonode/">Get Started</a>
			<a href="/docs/">Documentation</a>
			<a href="http://blog.kubernetes.io/">Blog</a>
			<a href="/community/">Community</a>
		</nav>
		<div class="social">
			<div>
				<a href="#" class="twitter"><span>twitter</span></a>
				<a href="https://github.com/FujitsuEnablingSoftwareTechnologyGmbH" class="github">
					<span>Github</span>
				</a>
				<a href="#" class="slack"><span>Slack</span></a>
			</div>
			<div>
				<a href="#" class="stack-overflow"><span>Stack Overflow</span></a>
				<a href="#" class="mailing-list"><span>Mailing List</span></a>
				<a href="#" class="calendar"><span>Events Calendar</span></a>
			</div>
			<div>
				<span>I wish this page</span>
				<input type="text" id="wishField" name="wishField" placeholder="enter your wish">
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} Kubernetes</div>
	</main>
</footer>