---
title: "مدیریت کانتینر در محیط عملیاتی"
abstract: "استقرار، مقیاس‌بندی و مدیریت خودکار کانتینر"
cid: home
layout: home
sitemap:
  priority: 1.0
---

{{< blocks/section class="k8s-overview" >}}
{{% blocks/feature image="flower" id="feature-primary" %}}
کوبرنتیز, که با نام K8s نیز شناخته می‌شود، یک سامانه متن‌باز برای خودکارسازی استقرار، مقیاس‌بندی و مدیریت برنامه‌های کانتینری است.

این سامانه، کانتینرهایی را که یک برنامه را تشکیل می‌دهند، برای مدیریت و کشف آسان، در واحدهای منطقی گروه‌بندی می‌کند. کوبرنتیز بر اساس [۱۵ سال تجربه در اجرای برنامه‌های عملیاتی در گوگل](https://queue.acm.org/detail.cfm?id=2898444) و با ترکیب بهترین ایده‌ها و شیوه‌های جامعه ساخته شده است.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### مقیاس سیاره

کوبرنتیز که بر اساس همان اصولی طراحی شده است که به گوگل اجازه می‌دهد میلیاردها کانتینر را در هفته اجرا کند، می‌تواند بدون افزایش تیم عملیاتی شما، مقیاس‌پذیر شود.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### از بزرگ شدن نترس

چه یک سازمان کوچک و چه یک سازمان با مقیاس جهانی را اداره کنید، انعطاف‌پذیری کوبرنتیز با شما رشد می‌کند تا برنامه‌های شما را به طور مداوم و آسان، صرف نظر از پیچیدگی نیازتان، ارائه دهد.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### کوبرنتیز همه جا

کوبرنتیز متن‌باز است و به شما آزادی عمل می‌دهد تا از زیرساخت‌های ابری داخلی، ترکیبی یا عمومی بهره ببرید و به شما امکان می‌دهد بدون دردسر برنامه‌ها را به جایی که برایتان مهم است منتقل کنید.

برای دانلود کوبرنتیز، به بخش [دانلود](/releases/download/) مراجعه کنید.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="video_banner_homepage_XNZvGHlpJ_4" >}}
<div class="video-text-optional">
    <h2>The Absolute Beginner's Guide To Cloud Native</h2>
    <p class="presenter-byline">by Kyle Penfound, Dagger &amp; Cortney Nickerson, Kubeshop</p>
    <button id="desktopShowVideoButton" onclick="kub.showVideo()">مشاهده ویدیو</button>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/XNZvGHlpJ_4?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}
{{< blocks/section id="upcoming-events" >}}
<h2>در رویدادهای آینده KubeCon + CloudNativeCon شرکت کنید</h2>
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2026/" class="desktopKCButton"><strong>اروپا</strong> (آمستردام، ۲۳ تا ۲۶ مارس ۲۰۲۶)</a>
  </div>
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america-2026/" class="desktopKCButton"><strong>آمریکا شمالی</strong> (سالت لیک سیتی، ۹ تا ۱۲ نوامبر ۲۰۲۶)</a>
  </div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
