.announcement.content {
  margin-bottom: 0px;
}

.announcement > p,
.gridPage #announcement .content p,
.announcement > h4,
.announcement > h3 {
  color: #ffffff;
}

#announcement a,
#fp-announcement a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

#announcement a:hover,
#fp-announcement a:hover {
  border-bottom: none;
}

#announcement {
  padding-top: 105px;
  padding-bottom: 25px;
}

.header-hero {
  padding-top: 40px;
}

/* Extra announcement height only for landscape viewports */
@media (min-aspect-ratio: 8/9) {
  #fp-announcement {
    min-height: 25vh;
  }
}

#fp-announcement aside {
  padding-top: 115px;
  padding-bottom: 25px;
}
