@font-face {
  font-family: 'kubernetes-docs-icons';
  src:  url('fonts/kubernetes-docs-icons.eot?aukczh');
  src:  url('fonts/kubernetes-docs-icons.eot?aukczh#iefix') format('embedded-opentype'),
    url('fonts/kubernetes-docs-icons.ttf?aukczh') format('truetype'),
    url('fonts/kubernetes-docs-icons.woff?aukczh') format('woff'),
    url('fonts/kubernetes-docs-icons.svg?aukczh#kubernetes-docs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kubernetes-docs-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\f073";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-github:before {
  content: "\f09b";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-slack:before {
  content: "\e900";
  color: #000;
}
