/* kubernetes-basics tutorials */
.tutorials-modules {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.module {
    width: 30%;
    text-align: center;
}

.module img {
    width: 100%;
}

.module h5 {
    margin: 10px 0 0;
}