
body {
  margin:0 auto !important;
}

#hero {
  text-align: left;
  padding-bottom: 20px;
}

.section {
  clear: both;
  padding: 0px;
  margin-bottom: 2em;
  float:left;
}
.section .main-section, .header .main-section, .footer .main-section {
width:100% !important;
max-width:100% !important;
}

.call-to-action {
  background-image:url('training-bg.jpg');
  background-size:100%;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  background-color: #f9f9f9;
}
.col:first-child { margin-left: 0; }

.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  padding-bottom: 30px;
  margin-top:1%;
}

.col-nav {
  display: table-cell; /* Make elements inside the container behave like table cells */
  width: 33%;
  background-color: #f9f9f9;
  padding: 0px;
  border: 5px solid white;
}
.col-nav p {
  padding-left:5%;
  padding-right:5%;
}

h2 {
  line-height:1.6em !important;
  padding-bottom:3%;
}

.button{
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10%;
  margin-top:2%;
  display: inline-block;
  border-radius: 6px;
  padding: 0 20px;
  line-height: 40px;
  color: #ffffff;
  font-size: 16px;
  background-color: #3371e3;
  text-decoration: none;
}

.mainsection {
  background-repeat: no-repeat;
  background-size: 100%;
}

.second {
  padding-top:4%;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.logo-certification .cta-image .cta-image-after img {
  width:300px !important;
}

.white-text {
  color: #fff;
}

.padded {
  padding-top: 3%;
  padding-bottom: 4%;
}

.padded-bottom-banner {
  padding-top:0%;
  padding-bottom: 2%;
}

.half {
  width:50%;
  float:left;
  padding-left:10%;
  padding-right:10%;
  padding-top:4%;
  padding-bottom:5%;
}

.half-image{
  width:50%;
  float:left;
  display:block;
}

.half-image img{
  width:700px;

}

.blue-h5-white-text {
  background-color: #3371e3;
  padding: 3%;
  color:white;
}

.blue-h5-white-text-2{
  background-color: #3371e3;
  padding: 3%;
  color:white;
  font-size:1.1em;
}

h2 {
  line-height:1.2em !important;
  padding-bottom:2%;
  text-align:center;
}

.blue-bg {
  background-color: #3371e3;
}

.lighter-gray-bg {
  background-color: #f4f4f4;
}

.lighter-gray-bg-banner {
  background-color: #f4f4f4;
  height:400px;
  padding-top:0px;
}

.two-thirds-centered {
  width: 66%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.landscape-section {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.section, .header, #vendorStrip {
  padding:0px !important;
}

#landscape {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  width: 1200px;
}
.cta-text {
    text-align:center;
    padding:2%;
    color:white;
  }

  #hero {
    text-align: left;
    padding-bottom: 20px;
  }

  .section {
    clear: both;
    padding: 0px;
    margin-bottom: 2em;
    width: 100%;
  }

  section.call-to-action {
    color: #ffffff;
    background-color: #3371e3;
  }

  section.call-to-action .main-section {
      max-width: initial;
  }

  section.call-to-action .main-section > div.call-to-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    margin: initial;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  section.call-to-action .main-section > div.call-to-action > div {
    order: 1;

  }

  section.call-to-action .main-section .cta-text {
    text-align: center;
    flex: 1 1 auto;
    max-width: 50vw;
  }

  /* if max() and min() are available, use them */
  section.call-to-action .main-section .cta-text {
    min-width: min(20em, 50vw);
    max-width: min(1000px, 50vw);
  }

  section.call-to-action .main-section .cta-image.cta-image-before {
    order: 0
  }

  section.call-to-action .main-section .cta-image.cta-image-after {
    order: 2
  }

  section.call-to-action .main-section .cta-image > img {
    display: block;
    width: 170px;
    margin: auto;
  }

  .col {
    display: flex;
    flex-direction: row;
    float: left;
    margin: 1% 0 1% 1.6%;
  }

  .col:first-child { margin-left: 0; }

  .col-container { /* Make the container element behave like a table */
    flex-direction: row;
    width: 100%; /* Set full-width to expand the whole page */
    padding-bottom: 30px;
  }

  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 2em;
  }

  .white-text {
    color: #fff;
  }



  .blue-bg {
    background-color: #3371e3;
  }

  .lighter-gray-bg {
    background-color: #f4f4f4;
  }

  .two-thirds-centered {
    width: 66%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  .landscape-section {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  #landscape {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    width: 1200px;
  }

  .desktop {
    display:block;
}
  .mobile {
      display:none;

  }


  @media only screen and (min-width: 1600px) {
    .col { margin: 1% 0 1% 0%;}

    .lighter-gray-bg-banner {
      height:450px;
      padding-top:0px;
    }
}

@media only screen and (max-width: 840px) {
  section.call-to-action .main-section .cta-image.cta-image-before, section.call-to-action .main-section .cta-image.cta-image-after {
    order: 0;
  }
  section.call-to-action .main-section .cta-image > img {
    margin: 0;
  }
  section.call-to-action .main-section .cta-image > img {
    width: 12rem;
  }
  section.call-to-action .main-section > div.call-to-action > div {
    padding: 1rem 1rem 1rem 1rem;
  }
  section.call-to-action .main-section .cta-text {
    flex: 2 0 75vw;
    max-width: initial;
    padding: 5vw 0 0 0;
  }
  .desktop {
    display:none;
}
  .mobile {
      display:block;

  }

}

  @media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .col-container { flex-direction: column;
}

}

  @media only screen and (max-width: 650px) {
    .col-nav {
      display: block;
      width: 100%;
  }
    .col-container { flex-direction: column; }

    h2 {
      line-height:1.2em !important;
      padding-bottom:1%;

    }
    .half {
      width:100%;
      float:left;
      padding-left:10%;
      padding-right:10%;
      padding-top:5%;
      padding-bottom:5%;
    }

    .half-image {
      display:none;
    }

    .half-image img {
      width:1000px;

    }

    section.call-to-action .main-section > div.call-to-action {
    padding-top:1rem;

    }
    .lighter-gray-bg-banner {
      height:300px;
    }
  }
