// SASS for Case Studies pages go here:

hr {
  background-color: #303030;
  margin-top: 0;
}

h2 {
  margin-bottom: 15px !important;
}

.subhead {
  padding-bottom: 2% !important;
  padding-top: 0.75em !important;
}

.details {
  margin-left: 1.9%;
  padding-right: 5%;
  font-size: 16px !important;
  padding-bottom: 2% !important;
}

.section1 {
  margin-bottom: 3%;

  .cols {
    width: 80% !important;
    margin-left: 6.8%;
    padding-top: 1.5%;

    .col1 {
      width: 52% !important;
      font-weight: 300 !important;
    }

    .col2 {
      width: 46% !important;
    }
  }
}

.banner2text {
  width: 63%;
  padding-top: 10%;
  padding-left: 0% !important;
  float: initial !important;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.banner3text,
.banner4text,
.banner5text {
  width: 63%;
  padding-left: 0% !important;
  float: initial !important;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.fullcol {
  float: initial !important;
}

body footer {
  background-color: #585858 !important;
}

.section1 {
  float: left !important;
}

.banner1 {
  padding-left: 11.9% !important;
}

.banner2 {
  float: initial !important;
  padding-bottom: 2% !important;
}

footer {
  padding: 0% 7%;
}

.banner4,
.banner3,
.banner5 {
  float: initial !important;
}

@media screen and (max-width: 910px) {
  .banner2text {
    width: 47%;
    padding-top: 45%;
  }

  .details {
    margin-left: 0%;
    margin-bottom: 3%;
  }

  .subhead {
    padding-bottom: 0% !important;
    padding-top: 0% !important;
  }

  .banner3 {
    width: 100% !important;
  }
}

@media screen and (max-width: 780px) {
  .section1 .cols {
    width: 100% !important;
    margin-left: 0%;
    padding-top: 5%;

    .col1,
    .col2 {
      width: 100% !important;
      margin-left: 0% !important;

      .fullcol {
        width: 90% !important;
        margin-left: 5% !important;

        .banner1 {
          padding-left: 10% !important;
          margin-bottom: 6% !important;

          .banner2text {
            padding-top: 60% !important;
            padding-bottom: 2% !important;
          }
        }
      }
    }
  }
}
