$announcement-size-adjustment: 8px;

/* GLOBAL */
.td-main {
  .row {
    margin: 0;
  }

  main {
    img {
      max-width: 100%;
    }

    @media only screen and (min-width: 768px) {
      padding-top: 2rem !important;
    }
  }

  .ui-widget {
    font-family: inherit;
    font-size: inherit;
  }

  .ui-widget-content a {
    color: $blue;
  }
}

section {
  .main-section {
    @media only screen and (min-width: 1024px) {
      max-width: 1200px;
    }
  }
}

.td-outer {
  padding: 0 !important;
}


/* Emphasize first paragraph of running text on site front page */
body.td-home main[role="main"] > section:first-of-type .content p:first-child {
  line-height: 1.3em;
  font-size: 1.4em;
  margin-bottom: 1.5em;
}

#desktopShowVideoButton {
  border: none
}

#videoPlayer {
  #closeButton {
    background: transparent;
  }
}

body.td-404 main .error-details {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 0;
}

/* Global - Mermaid.js diagrams */

.mermaid {
  overflow-x: auto;
  max-width: 80%;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  // mermaid diagram - sequence diagram
  .actor {
    fill: #326ce5 !important;
  }
  text.actor {
    font-size: 18px !important;
    stroke: white !important;
    fill: white !important;
  }
  .activation0 {
    fill: #c9e9ec !important;
  }
}

/* HEADER */

.td-navbar {
  position: fixed !important;
  width: 100%;
  padding-bottom: 1rem !important;
  background: transparent !important;
  transition: 0.3s;

  .navbar-brand {
    position: absolute;
    width: 45px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/images/favicon.png");
  }

  #hamburger {
    &:focus {
      outline: none;
    }
  }

  @media only screen and (min-width: 768px) {
    .navbar-brand {
      background-image: url("/images/nav_logo.svg");
      top: 1.5rem;
      width: 180px;
      margin-left: 1rem;
    }
  }
}

.td-navbar-nav-scroll {
  overflow: visible !important;
  display: none;

  .navbar-nav {
    overflow: visible !important;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .nav-item {
      position: relative;
      height: 10%;

      .active::after {
        position: absolute;
        width: 100%;
        height: 2px;
        content: "";
        bottom: -4px;
        left: 0;
        background: #fff;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    display: block;
    margin-top: 3.5rem !important;
  }

  @media only screen and (min-width: 1075px) {
    margin-top: 1rem !important;
  }
}

// Flip-Nav
.flip-nav .td-navbar {
  background-color: white !important;
  box-shadow: 0 1px 2px $medium-grey;

  .navbar-nav {
    .nav-item {
      &.show .nav-link,
      .nav-link {
        color: $dark-grey;

        &:hover {
          color: $medium-grey;
        }
      }

      .dropdown {
        &:hover {
          color: $medium-grey;
        }
      }
    }
  }

  .navbar-nav .nav-item .active {
    color: $dark-grey;

    &::after {
      background: $dark-grey;
    }
  }

  #hamburger:hover {
    div,
    &:before,
    &:after {
      background-color: $dark-grey;
    }
  }

  @media only screen and (min-width: 768px) {
    .navbar-brand {
      background-image: url("/images/nav_logo2.svg");
    }
  }
}

/* FOOTER */
footer {
  background-color: #303030;
  background-image: url("/images/texture.png");
  padding: 1rem !important;
  min-height: initial !important;

  .footer__links {
    width: 100%;
    margin: auto;
    padding-bottom: 1rem;

    nav a {
      display: block;
      text-align: center;
    }

    @media only screen and (min-width: 768px) {
      nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  small {
    color: $light-grey;
    font-size: 0.64rem;

    a {
      text-decoration: inherit;
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
  }
}

/* SIDE-DRAWER MENU */

.pi-pushmenu .sled {
  .content ul {
    padding: 0;

    li {
      &:first-child {
        display: none;
      }

      a.nav-link {
        padding: 0;
      }
    }
  }
  .push-menu-close-button {
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

/* DOCS */

.launch-cards {
  button {
    cursor: pointer;
    box-sizing: border-box;
    background: none;
    margin: 0;
    border: 0;
  }

  ul,
  li {
    list-style: none;
    padding-left: 0;
  }
}

// table of contents
.td-toc {
  padding-top: 1.5rem !important;
  top: 5rem !important;

  #TableOfContents {
    padding-top: 1rem;
  }
}

main {
  .td-content table code,
  .td-content>table td {
    word-break: break-word;
  }
}


// blockquotes and callouts

.td-content, body {
  blockquote.callout {
    padding: 0.4rem 0.4rem 0.4rem 1rem;
    border: 1px solid #eee;
    border-left-width: 0.5em;
    background: #fff;
    color: #000;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  blockquote.callout {
    border-radius: calc(1em/3);
  }
  .callout.caution {
    border-left-color: #f0ad4e;
  }

  .callout.note {
    border-left-color: #428bca;
  }

  .callout.warning {
    border-left-color: #d9534f;
  }

  h1:first-of-type + blockquote.callout {
    margin-top: 1.5em;
  }
}

.deprecation-warning {
    padding: 20px;
    margin: 20px 0;
    background-color: #faf5b6;
    color: #000;
}

body.td-home .deprecation-warning, body.td-blog .deprecation-warning, body.td-documentation .deprecation-warning {
    border-radius: 3px;
}

body.td-home #deprecation-warning {
    max-width: 1000px;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

#caseStudies body > #deprecation-warning, body.cid-casestudies > #deprecation-warning, body.cid-community > #deprecation-warning {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #326ce5; // Kubernetes blue
    color: #fff;
    padding: 0;
    margin: 0;
    width: 100vw;
}
#caseStudies body > #deprecation-warning, body.cid-casestudies > #deprecation-warning {
    padding-top: 32px;
}
body.cid-partners > #deprecation-warning {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    width: 100vw;
}
body.cid-partners > #deprecation-warning > .content {
    width: 100%;
    max-width: initial;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
body.cid-community > #deprecation-warning > .deprecation-warning {
    margin-left: 20px;
    margin-right: 20px;
    color: #faf5b6;
    background-color: inherit;
}
body.cid-community > #deprecation-warning > .deprecation-warning > * {
    color: inherit;
    background-color: inherit;
}

#caseStudies body > #deprecation-warning > .deprecation-warning, body.cid-casestudies > #deprecation-warning > .deprecation-warning {
    color: inherit;
    background: inherit;
    width: 80%;
    margin: 0;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: initial;
}
#deprecation-warning > .deprecation-warning a {
    background: transparent;
    color: inherit;
    text-decoration: underline;
}

// search & sidebar
.td-sidebar {
  @media only screen and (min-width: 768px) {
    padding-top: 1.5rem !important;

    .td-sidebar__inner {
      top: 8.5rem;

      @media only screen and (min-width: 1075px) {
        top: 6.5rem;
      }
    }
  }
}

.td-sidebar-nav {
  & > .td-sidebar-nav__section {
    padding-top: .5rem;
    padding-left: 1.5rem;
  }
}

.td-sidebar__inner {
  form.td-sidebar__search {

    .td-sidebar__toggle {
      &:hover {
        color: #000000;
      }

      color: $blue;
      margin: 1rem;
    }
  }
}

.no-underline {
  text-decoration: none !important;
}

.hide {
  display: none !important;
}

.td-sidebar-link__page {
  &#m-docs-search {
    display: none;
  }

  &#m-docs-test {
    display: none;
  }
}

//Tutorials
main.content {
  position: inherit;
}

/* BLOG */

.td-blog {

  .widget-link {
    margin-bottom: 1rem;

    .svg-inline--fa {
      width: 25px;
    }

    span {
      margin-left: 0.5rem;
    }
  }
}

/* COMMUNITY */

.newcommunitywrapper {
  .news {
    margin-left: 0;

    @media screen and (min-width: 768px) {
      margin-left: 10%;
    }
  }
}

/* CASE-STUDIES */

// Many of the case studies have small variations in markup and styles;
// some issues cannot be addressed due to inlined !important rules.
#caseStudies {
  section .cols {
    margin-left: 11%;

    div {
      width: initial !important;
      h2 {
        margin-top: 1rem;
      }
    }
  }
}

/* ANNOUNCEMENTS */
section#fp-announcement ~ .header-hero {
    padding: $announcement-size-adjustment  0;

    > div {
       margin-top: $announcement-size-adjustment;
       margin-bottom: $announcement-size-adjustment;
    }

    h1, h2, h3, h4, h5 {
      margin: $announcement-size-adjustment 0;
    }
}

section#announcement ~ .header-hero {
    padding: #{$announcement-size-adjustment / 2} 0;

    > div {
       margin-top: #{$announcement-size-adjustment / 2};
       margin-bottom: #{$announcement-size-adjustment / 2};
       padding-bottom: #{$announcement-size-adjustment / 2};
    }

    h1, h2, h3, h4, h5 {
      margin: #{$announcement-size-adjustment / 2} 0;
    }
}

/* DOCUMENTATION */

/* Don't show lead text */
body.td-documentation {
  main {
    @media only screen {
       > * {
         > .lead:first-of-type {
         display: none;
        }
      }
    }
  }
}

/* glossary tooltip */
.glossary-tooltip {
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  color: black;
  text-decoration: none !important;
}

@media print {
  /* Do not print announcements */
  #announcement, section#announcement, #fp-announcement, section#fp-announcement {
    display: none;
  }
}

#announcement, #fp-announcement {
  > * {
    color: inherit;
    background: inherit;
  }

  a {
    color: inherit;
    border-bottom: 1px solid #fff;
  }

  a:hover {
    color: inherit;
    border-bottom: none;
  }
}

#announcement {
  padding-top: 105px;
  padding-bottom: 25px;
}

.header-hero {
  padding-top: 40px;
}

/* Extra announcement height only for landscape viewports */
@media (min-aspect-ratio: 8/9) {
  #fp-announcement {
    min-height: 25vh;
  }
}

#fp-announcement aside {
  padding-top: 115px;
  padding-bottom: 25px;
}

.announcement {
  .content {
    margin-bottom: 0px;
  }


  > p {
    .gridPage #announcement .content p,
    .announcement > h4,
    .announcement > h3 {
      color: #ffffff;
    }
  }
}

.td-content {
  table code {
    background-color: inherit !important;
    color: inherit !important;
    font-size: inherit !important;
  }
}
