$main-max-width: 1200px;
$vendor-strip-height: 44px;

@media screen and (min-width: 1024px) {

  .td-home {
    .header-hero {
      #vendorStrip {
        display: block;
      }
    }
  }

  .td-home {

    section,
    header,
    footer {
      .main-section {
        max-width: 1000px;
      }
    }
  }

  #oceanNodes, .td-home .k8s-overview {
    .main-section {
      position: relative;

      &:nth-child(1) {
        max-width: 1000px;
        padding-right: 475px;

        h3,
        p {
          text-align: left
        }

        .image-wrapper {
          position: absolute;
          max-width: 48%;
          transform: translateY(-50%);
        }

        img {
          width: 425px;
        }
      }
    }
  }

  #video {
    position: relative;
    background-position: top center;
    background-size: cover;

    &>.light-text {
      margin: 0 10% 15px 0;
    }
  }



  #talkToUs {
    h4 {
      br {
        display: block;
      }
    }

    #bigSocial {
      div {
        width: calc(25% - 18px);
      }

      div+div {
        margin-left: 20px;
      }
    }

    .td-home #bigSocial {
      div {
        width: calc(33% - 15px);
      }

      div:nth-child(3) {
        margin-top: inherit;
      }
    }
  }

  .td-home #caseStudiesWrapper {
    div {
      width: 24%;
      min-height: 260px;
    }
  }
}
