.td-search {
  width: unset;
}

.td-search .td-search__input {
  border: 1px solid var(--bs-border-color);
}

.td-navbar .td-search .td-search__input {
  border-color: rgba(255, 255, 255, 0.2);
}

// PageFind Styles

#search .pagefind-ui form {
  input, button {
    display: none;
  }

  .pagefind-ui__message {
    margin-left: 1rem;
  }
}

