<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ with .Params.canonicalUrl }}
    <link rel="canonical" href="{{ . }}">
    {{ end }}
    {{ partial "head.html" . }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
  </head>
  <body class="td-{{ .Kind }} td-blog {{- with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
      {{ partial "announcement.html" . }}
      {{ block "hero" . }}
      <section class="header-hero text-center text-white font-bold pb-4">
        {{ if .IsSection }}<h1>{{ else }}<h2>{{ end }}
          {{ $sectionHeading := .Site.GetPage "section" .Section }}
          {{ with $sectionHeading }}
            {{ .Title }}
          {{ end }}
        {{ if .IsSection }}</h1>{{ else }}</h2>{{ end }}
      </section>
         {{ block "hero-more" . }}{{ end }}
      {{ end }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "blog-sidebar.html" . }}
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5 pr-md-4" role="main"
              {{ if .IsPage }}data-pagefind-body data-pagefind-meta="date:{{  $.Date.Format "2006-01-02" }}"{{ end }}
            ><!-- inside main element -->
            {{ with .CurrentSection.OutputFormats.Get "rss" -}}
            <a class="btn btn-lg -bg-orange td-rss-button d-none d-lg-block" href="{{ .Permalink | safeURL }}" target="_blank">
              RSS <i class="fa fa-rss ml-2 "></i>
            </a>
            {{ end -}}
            {{ block "main" . }}{{ end }}
          </main>
          <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
            {{ partial "blog-meta-links.html" . }}
          </div>
        </div>
      </div>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
