<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="{{.Params.class}} no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-search {{- if ne (lower .Params.cid) "" -}}{{- printf " cid-%s" (lower .Params.cid) -}}{{- end -}}">
    <header>
      {{ partial "navbar.html" . }}
      {{ block "announcement" . }}
        {{ partial "announcement.html" . }}
      {{ end }}
      {{ block "hero" . }}
        <section class="header-hero filler">
        </section>
         {{ block "hero-more" . }}{{ end }}
      {{ end }}
    </header>
    <div class="td-outer">
      <main role="main" class="td-main">
        <section class="row td-search-query">
          <div class="col-12 col-md-4 offset-md-2">
            {{- partial "search-form.html" . }}
          </div>
        </section>
        <section class="row td-search-result">
          <div class="col-12 col-md-8 offset-md-2">
          <gcse:searchresults-only linktarget="_parent">
            <div id="search" style="display:none"></div>
          </gcse:searchresults-only>
          </div>
        </section>
      </main>
    </div>
    {{ partial "footer.html" . }}
    {{ partialCached "scripts.html" . }}
  </body>
</html>
