# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.gfm':
  'Insert TOC':
    'prefix': 'toc'
    'body': '{{< toc >}}'
  'Insert concept template':
    'prefix': 'ctemplate'
    'body': 'content_template: templates/concept'
  'Insert concept overview':
    'prefix': 'coverview'
    'body': '{{% capture overview %}}'
  'Insert concept body':
    'prefix': 'cbody'
    'body': '{{% capture body %}}'
  'Insert concept whatsnext':
    'prefix': 'cnext'
    'body': '{{% capture whatsnext %}}'
  'Insert task template':
    'prefix': 'ttemplate'
    'body': 'content_template: templates/task'
  'Insert task overview':
    'prefix': 'toverview'
    'body': '{{% capture overview %}}'
  'Insert task steps':
    'prefix': 'tsteps'
    'body': '{{% capture steps %}}'
  'Insert task discussion':
    'prefix': 'tdiscuss'
    'body': '{{% capture discussion %}}'
  'Close capture':
    'prefix': 'ccapture'
    'body': '{{% /capture %}}'
  'Insert note':
    'prefix': 'anote'
    'body': """
      {{< note >}}
      **Note**: $1
      {{< /note >}}
    """
  'Insert caution':
    'prefix': 'acaution'
    'body': """
      {{< caution >}}
      **Caution**: $1
      {{< /caution >}}
    """
  'Insert warning':
    'prefix': 'awarning'
    'body': """
      {{< warning >}}
      **Warning**: $1
      {{< /warning >}}
    """
  'Insert feature state':
    'prefix': 'fstate'
    'body': '{{< feature-state for_k8s_version="$1" state="$2" >}}'
  'Insert figure':
    'prefix': 'fig'
    'body': '{{< figure src="$1" title="$2" alt="$3" caption="$4" >}}'
  'Insert Youtube link':
    'prefix': 'yt'
    'body': '{{< youtube $1 >}}'
  