---
title: "Orquestación de contenedores para producción"
abstract: "Automatización del despliegue, escalado y administración de contenedores"
cid: home
layout: home
sitemap:
  priority: 1.0
---


{{< blocks/section class="k8s-overview" >}}
{{% blocks/feature image="flower" id="feature-primary" %}}

[Kubernetes]({{< relref "/docs/concepts/overview/" >}}), también conocido como K8s, es un sistema de código abierto para automatizar el despliegue, el escalado y la gestión de aplicaciones en contenedores.

Kubernetes agrupa los contenedores que conforman una aplicación en unidades lógicas para una fácil administración y descubrimiento. Kubernetes se basa en [15 años de experiencia en la ejecución de cargas de trabajo de producción en Google](https://queue.acm.org/detail.cfm?id=2898444), combinada con las mejores ideas y prácticas de la comunidad.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Preparado para trabajar a escala

Diseñado sobre los mismos principios que le permiten a Google ejecutar miles de millones de contenedores cada semana, Kubernetes puede escalar sin aumentar su equipo de operaciones.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Preparado para cualquier complejidad

Ya sea para pruebas locales o cargas de trabajo de una empresa global, la flexibilidad de Kubernetes crece contigo para entregar sus aplicaciones de manera consistente y fácil sin importar la complejidad.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Preparado para ejecutarse en cualquier lugar

Kubernetes es código abierto lo que le brinda la libertad de aprovechar su infraestructura propia (on-premises), híbrida o de nube pública, lo que le permite mover las cargas de trabajo sin esfuerzo dónde quiera.

Para descargar Kubernetes, visite la sección [download](/es/releases/download/).

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="video_banner_homepage_XNZvGHlpJ_4" >}}
<div class="video-text-optional">
    <h2>The Absolute Beginner's Guide To Cloud Native</h2>
    <p class="presenter-byline">by Kyle Penfound, Dagger &amp; Cortney Nickerson, Kubeshop</p>
    <button id="desktopShowVideoButton" onclick="kub.showVideo()">Watch Video</button>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/XNZvGHlpJ_4?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}
{{< blocks/section id="upcoming-events" >}}
<h2>Asista a los próximos eventos de KubeCon + CloudNativeCon</h2>
  <!-- TODO: change this to a shortcode that auto-updates from a schedule -->
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2026/" class="desktopKCButton"><strong>Europa</strong> (Amsterdam, Mar 23-26, 2026)</a>
  </div>
  <div>
    <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america-2026/" class="desktopKCButton"><strong>Norte America</strong> (Salt Lake City, Nov 9-12, 2026)</a>
  </div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
