{{- $imageName := $.Get "image" | default "flower" -}}
{{- $icon := .Get "icon" | default "fa-lightbulb" -}}
{{- $id := .Get "id" | default (printf "feature-%d" .Ordinal) -}}
{{- $url_text := .Get "url_text" -}}
<div class="section-feature" id="{{ $id }}">
{{- with resources.Get ( printf "images/common-resources/%s.svg" $imageName) -}}
<div class="image-wrapper"><img src="{{ .RelPermalink }}" alt=""></div>
{{- else -}}
<div class="mb-4 h1">
  <i class="{{ if not (or (hasPrefix $icon "fas ") (hasPrefix $icon "fab ")) }}fas {{ end }}{{ $icon }}"></i>
</div>
{{- end -}}
<div class="content">
{{ .Inner }}
</div>
</div>
