{{/*

This shortcode lists pages that have a "feature" section configured in front matter.

This creates a set of feature boxes as seen on the home page.

See /content/en/docs/concepts/services-networking/service.md for an example:

feature:
  title: Service discovery and load balancing
  description: >
    No need to modify your application to use an unfamiliar service discovery mechanism. Kubernetes gives containers their own IP addresses and a single DNS name for a set of containers, and can load-balance across them.

Note that Markdown can be used in the description.

Also note that the class added to the section is based on the ones present in the shortcode "blocks/section.html",
which makes this partial look and behave the same as the sections created by the shortcode.

 */}}
<section id="features" class="row td-box td-box---1 td-box--gradient td-box--height-auto">
  <div class="flex-fill">
    {{- with resources.Get "images/wheel.svg" -}}
    <img class="kubernetes-logo wheel" src="{{ .RelPermalink }}" alt="">
    {{- end -}}

    <h2>{{ T "main_kubernetes_features" }}</h2>
    <div id="feature-flex">
      {{ $pages := where site.Pages ".Params.feature" "!=" nil }}
      {{ range $i, $p := $pages }}
      <div id="feature-box">
          {{ with .Params.feature }}
          <h3><a href="{{ $p.RelPermalink}}{{ with .anchor }}#{{ . | anchorize }}{{ end }}">{{ .title }}</a></h3>
          {{ $description := .description | default $p.Params.description }}
          {{ $description | markdownify }}
          {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
