---
title: Orchestrazione di Container in produzione
abstract: Deployment, scalabilità, e gestione di container automatizzata
cid: home
---

{{< site-searchbar >}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
### [Kubernetes (K8s)]({{< relref "/docs/concepts/overview/what-is-kubernetes" >}}) è un software open-source per l'automazione del deployment, scalabilità, e gestione di applicativi in containers.

K8s raggruppa i containers che compongono gli applicativi in unità logiche per semplificare la gestione e la visibilità. Kubernetes si basa su [15 anni di esperienza di esecuzione di workload in produzione presso Google](http://queue.acm.org/detail.cfm?id=2898444), combinata con le migliori idee e pratiche dalla community.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Scala planetaria

Progettato con gli stessi principi che permettono a Google di eseguire miliardi di container ogni settimana, Kubernetes può scalare evitando di aumentare il lavoro per il tuo team.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Semplice e flessibile

Che tu stia facendo dei test locali o supportando una azienda enterprise, la flessibilità di Kubernetes ti permette di eseguire le tue applicazioni coerentemente e facilmente, indipendentemente dalla complessità delle tue esigenze.

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Eseguibile ovunque

Kubernetes è open source, e ti offre la libertà di spostare i tuoi carichi di lavoro senza fatica tra ambienti on-premises, ibridi, e cloud pubblici.

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>La sfida di migrare 150+ Microservizi su Kubernetes</h2>
        <p>Di Sarah Wells, Technical Director for Operations and Reliability, Financial Times</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">Guarda il Video</button>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" button id="desktopKCButton">Partecipa alla KubeCon + CloudNativeCon Europe (19-22 maggio 2024)</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america-2024/" button id="desktopKCButton">Partecipa al KubeCon + CloudNativeCon, America del Nord (12-15 novembre 2022)</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
