---
title: "Orkestrasi Kontainer dengan Skala Produksi"
abstract: "Otomatisasi Kontainer deployment, scaling, dan management"
cid: home
---

{{< site-searchbar >}}

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
### Kubernetes (K8s)
Kubernetes mengelompokkan kontainer yang membentuk suatu aplikasi dalam bentuk unit logis yang memudahkan proses manajemen dan <i>discovery</i>. Kubernetes dibuat berdasarkan [pengalaman operasional <i>workloads</i> skala produksi yang dilakukan oleh Google](http://queue.acm.org/detail.cfm?id=2898444), yang digabungkan dengan ide-ide terbaik dan <i>best practices</i> yang diberikan oleh komunitas.
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### Skala Besar

Didesain berdasarkan landasan yang digunakan Google untuk menjalankan milyaran kontainer dalam waktu seminggu, Kubernetes secara dinamis dapat menyesuaikan <i>workloads</i> tanpa membutuhkan peningkatan tim operasional.

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### Fleksibel

Baik digunakan untuk melakukan <i>testing</i> di mesin lokal maupun dijalankan sebagai sistem <i>enterprise global</i>, fleksibilitas yang disediakan oleh Kubernetes memungkinkan kamu menghasilkan aplikasi secara konsisten dan mudah, tidak peduli seberapa kompleks kebutuhan yang kamu miliki.


{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### Dapat Dijalankan di Berbagai Platform

Kubernetes sebagai <i>open source</i> memberikan kamu kebebasan untuk menggunakan <i>on-premise</i>, <i>hybrid</i>, atau infrastruktur _cloud_ publik, memberikan kamu kemudahan untuk memindahkan <i>workloads</i> yang kamu miliki.


{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>Tantangan yang Dihadapi untuk Melakukan Migrasi 150+ Microservices ke Kubernetes</h2>
        <p>Oleh Sarah Wells, Technical Director for Operations and Reliability, Financial Times</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">Watch Video</button>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe/" button id="desktopKCButton">Hadiri KubeCon + CloudNativeCon Europe pada 19-22 Maret 2024</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america-2024/" button id="desktopKCButton">Hadiri KubeCon + CloudNativeCon North America pada 12-15 November 2024</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
