---
layout: blog
---
<div class=" pagination">
  {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <h2><span class="date-header">{{ post.date |  date: "%B %d %Y"}}</span></h2>
    </p>
    <div class="content">
      {{ post.content | markdownify }}
    </div>
  {% endfor %}

  <!-- Pagination links -->
  <!-- <div class="col-xs-3 col-lg-10 "> -->
<span class="pager">
    {% if paginator.previous_page %}
     <a href="{{ paginator.previous_page_path }}" class="previous button">  <h4>Previous</h4></a>
    {% else %}
      <h4><span class="previous">Previous</span></h4>
    {% endif %}
    <h3><span class="page_number">   Page {{ paginator.page }} of {{ paginator.total_pages }}   </span></h3>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next button"><h4>Next</h4></a>
    {% else %}
      <h4><span class="next">Next</span></h4>
    {% endif %}
  <!-- </div> -->
</span>
</div>
