---
layout: blog
---
<div class="pagination">
  {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
      <span class="date">{{ post.date |  date: "%B %d %Y"}}</span>
    </p>
    <div class="content">
      {{ post.content | markdownify }}
    </div>
  {% endfor %}

  <!-- Pagination links -->
<span>
    {% if paginator.previous_page %}
     <a href="{{ paginator.previous_page_path }}" class="previous">  <h2>Previous</h2></a>
    {% else %}
    <span class="previous">  <h2>Previous</h2></span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"><h2>Next</h2></a>
    {% else %}
      <h2><span class="next ">Next</span></h2>
    {% endif %}
</span>
</div>
