{{/* Remove this shortcode when all localizations for kubernetes basics tutorial will be updated to use of SVGs with the
built-in animations. Check content/xx/docs/tutorials/kubernetes-basics/scale/scale-intro.md and
content/xx/docs/tutorials/kubernetes-basics/update/update-intro.md */ -}}

<div class="col-md-8">
    <div id="{{ .Get "id" | default "myCarousel" }}" class="carousel" data-ride="carousel" data-interval="{{ .Get "interval" | default "3000" }}">
        <div class="carousel-inner" role="listbox">
            {{ .Inner }}
        </div>
    </div>
</div>
