{{- $path := .Get "path" -}}
{{- $imagePath := .Get "image" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $title := .Get "title" | default "" -}}

{{- $url := $path | relLangURL -}}

{{- /* SVG inline embedding via dedicated svg shortcode */ -}}
{{- $svgContent := "" -}}
{{- $cleanImgSrc := index (split $imagePath "?") 0 -}}
{{- if strings.HasSuffix $cleanImgSrc ".svg" -}}
  {{- $svgShortcode := printf "{{< svg %q >}}" $imagePath -}}
  {{- $svgContent = .Page.RenderString $svgShortcode -}}
{{- end -}}

<div class="module">
  {{ if $url }}<a href="{{ $url }}">{{ end }}
    {{- if $svgContent -}}
      {{- $svgContent -}}
    {{- else -}}
      <img src="{{ $imagePath }}" alt="{{ $alt }}" />
    {{- end -}}
    {{ if $title }}<h5>{{ $title }}</h5>{{ end }}
  {{ if $url }}</a>{{ end }}
</div>
