---
title: Partners
layout: basic
class: gridPage
cid: partners
---

<section id="hero" class="light-text">
    <h1>Kubernetes Partners</h1>
    <h5>Growing the Kubernetes ecosystem.</h5>
    <!--<h5></h5>-->
</section>

<section id="users">
    <main>
        <h5>Kubernetes works with partners to create a strong, vibrant codebase that supports a spectrum of complementary platforms.</h5>
        <div class="section group">
          <div class="col span_1_of_3"><center><h5><b>Kubernetes Certified Service Providers</b></h5>Vetted service providers with deep experience helping enterprises successfully adopt Kubernetes.<br><br><div><a href="#kcsp" class="button">See KCSP Partners</a></div></center></div>
          <div class="col span_2_of_3"><center><h5><b>Technology Partners</b></h5>Integrations and plugins that add features to Kubernetes applications.<br><br><br><div><a href="#technology" class="button">See Technology Partners</a></div></center></div>
          <div class="col span_3_of_3"><center><h5><b>Service Partners</b></h5>Consulting or management services to help companies implement Kubernetes in commercial applications.<br><br><div><a href="#service" class="button">See Service Partners</a></div></center></div>
        </div>
        <h3><a id="kcsp"></a>Kubernetes Certified Service Providers (KCSP)</h3>
        <p>The KCSP program is a vetted tier of service providers who have deep experience helping enterprises successfully adopt Kubernetes. KCSP partners offer Kubernetes support, consulting, professional services and training for organizations embarking on their Kubernetes journey.</p>
        <p>Interested in becoming a KCSP? <a href="https://www.cncf.io/certification/kcsp/">Learn more.</a></p>
        <div id="kcspContainer"></div>
        <h3><a id="technology"></a>Technology Partners</h3>
        <p>Technology partners offer integrations and plugins that add features to Kubernetes applications.</p>
        <p>Interested in becoming a Technology Partner? Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSdN1KtSKX2VAOPGABFlShkSd6CajQynoL4QCVtY0dj76MNDKg/viewform">fill out this form.</a></p>
        <div id="isvContainer"></div>
        <h3><a id="service"></a>Service Partners</h3>
        <p>Service Partners offer consulting or management services to help companies implement and use Kubernetes in commercial applications.</p>
        <p>Interested in becoming a Service Provider? Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSdN1KtSKX2VAOPGABFlShkSd6CajQynoL4QCVtY0dj76MNDKg/viewform">fill out this form</a></p>
        <div id="servContainer"></div>
    </main>
</section>

<style>
    {% include partner-style.css %}
</style>

<script>
    {% include partner-script.js %}
</script>
