---
title: Partners
layout: basic
class: gridPage
cid: partners
---

<section id="hero" class="light-text">
	<h1>Kubernetes Partners</h1>
	<h5>Growing the Kubernetes ecosystem.</h5>
	<!--<h5></h5>-->
</section>

<section id="users">
	<main>
		<h5>We are working with a broad group of partners who contribute to the Kubernetes core codebase, making it stronger and richer. These partners create a vibrant Kubernetes ecosystem supporting a spectrum of complementing platforms, from open source solutions to market-leading technologies. Partners can get their services and offerings added to this page by completing and submitting the <a href="https://goo.gl/qcSnZF">partner request form</a>.</h5>
		<h3>Technology Partners</h3>
		<div id="isvContainer"></div>
		<h3>Services Partners</h3>
		<div id="servContainer"></div>
	</main>
</section>

<style>
	{% include partner-style.css %}
</style>

<script>
	{% include partner-script.js %}
</script>
