{{/* The blog nav organizes posts grouped by year, which represents a customized version of the
sidebar-tree in use elsewhere on the site. */}}

{{/* We cache this partial for bigger sites and set the active class client side. */}}
{{ $page := . -}}
{{ $sidebarMenuID := "td-sidebar-menu" -}}
{{ $sectionNavID := "td-section-nav" -}}
{{ $idPrefix := "m-" -}}
{{ $showMobileToggle := true -}}
{{ $collapseNav := true -}}
{{ $contentMobileID := "content-mobile" -}}
{{ $contentDesktopID := "content-desktop" -}}
{{ if reflect.IsMap . -}}
  {{ $page = .page -}}
  {{ with .sidebarMenuID }}{{ $sidebarMenuID = . }}{{ end -}}
  {{ with .sectionNavID }}{{ $sectionNavID = . }}{{ end -}}
  {{ with .idPrefix }}{{ $idPrefix = . }}{{ end -}}
  {{ if isset . "showMobileToggle" }}{{ $showMobileToggle = index . "showMobileToggle" }}{{ end -}}
  {{ if isset . "collapseNav" }}{{ $collapseNav = index . "collapseNav" }}{{ end -}}
  {{ with .contentMobileID }}{{ $contentMobileID = . }}{{ end -}}
  {{ with .contentDesktopID }}{{ $contentDesktopID = . }}{{ end -}}
{{ end -}}
{{ $sidebarCacheLimit := cond (isset $page.Site.Params.ui "sidebar_cache_limit") $page.Site.Params.ui.sidebar_cache_limit 2000 -}}
{{ $shouldDelayActive := ge (len $page.Site.Pages) $sidebarCacheLimit -}}
<div id="{{ $sidebarMenuID }}" class="td-sidebar__inner{{ if $shouldDelayActive }} d-none{{ end }}">
  {{ if not $page.Site.Params.ui.sidebar_search_disable -}}
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" $page }}
    {{ if $showMobileToggle -}}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ms-3 fas fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $sectionNavID }}" aria-controls="{{ $sectionNavID }}" aria-expanded="false" aria-label="{{ T "sidebar_toggle_nav" }}">
    </button>
    {{ end -}}
  </form>
  {{ else -}}
  <div id="{{ $contentMobileID }}">
  <form class="td-sidebar__search d-flex align-items-center">
    {{ partial "search-input.html" $page }}
    {{ if $showMobileToggle -}}
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ms-3 fas fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $sectionNavID }}" aria-controls="{{ $sectionNavID }}" aria-expanded="false" aria-label="{{ T "sidebar_toggle_nav" }}">
    </button>
    {{ end -}}
  </form>
  </div>
  <div id="{{ $contentDesktopID }}"></div>
  {{ end -}}
  <nav class="{{ if $collapseNav }}collapse {{ end }}td-sidebar-nav{{ if $page.Site.Params.ui.sidebar_menu_foldable }} foldable-nav{{ end }}" id="{{ $sectionNavID }}">
    {{ $navRoot := cond (and (ne $page.Params.toc_root true) (eq $page.Site.Home.Type "docs")) $page.Site.Home $page.FirstSection -}}
    {{ $ulNr := 0 -}}
    {{ $ulShow := cond (isset $page.Site.Params.ui "ul_show") $page.Site.Params.ui.ul_show 1 -}}
    {{ $sidebarMenuTruncate := cond (isset $page.Site.Params.ui "sidebar_menu_truncate") $page.Site.Params.ui.sidebar_menu_truncate 50 -}}
    <ul class="td-sidebar-nav__section pe-md-3 ul-{{ $ulNr }}">
      {{ template "blog-section-tree-nav-section" (dict "page" $page "section" $navRoot "shouldDelayActive" $shouldDelayActive "sidebarMenuTruncate" $sidebarMenuTruncate "ulNr" $ulNr "ulShow" (add $ulShow 1) "idPrefix" $idPrefix) }}
    </ul>
  </nav>
</div>
{{ define "blog-section-tree-nav-section" -}}
{{ $s := .section -}}
{{ $p := .page -}}
{{ $shouldDelayActive := .shouldDelayActive -}}
{{ $sidebarMenuTruncate := .sidebarMenuTruncate -}}
{{ $ulNr := .ulNr -}}
{{ $ulShow := .ulShow -}}
{{ $idPrefix := .idPrefix -}}
{{ $postsByYear := $s.Pages.GroupByDate "2006" }}
{{ $active := and (not $shouldDelayActive) (eq $s $p) -}}
{{ $activePath := and (not $shouldDelayActive) (or (eq $p $s) ($p.IsDescendant $s)) -}}
{{ $show := cond (or (lt $ulNr $ulShow) $activePath (and (not $shouldDelayActive) (eq $s.Parent $p.Parent)) (and (not $shouldDelayActive) (eq $s.Parent $p)) (not $p.Site.Params.ui.sidebar_menu_compact) (and (not $shouldDelayActive) ($p.IsDescendant $s.Parent))) true false -}}
{{ $mid := printf "%s%s" $idPrefix ($s.RelPermalink | anchorize) -}}
<li class="td-sidebar-nav__section-title td-sidebar-nav__section with-child active-path{{ if (not (or $show $p.Site.Params.ui.sidebar_menu_foldable )) }} collapse{{ end }}" id="{{ $mid }}-li">
  {{- $ulNr := 1 }}
  <ul class="ul-{{ $ulNr }}{{ if (gt $ulNr 1)}} foldable{{end}}">
    {{ range $postsByYear -}}
    {{ $year := .Key }}
    {{ $mid := printf "%s%s-%s" $idPrefix ($s.RelPermalink | anchorize) ($year) -}}
    {{ $active := and (not $shouldDelayActive) (in .Pages $p) -}}
    <li class="td-sidebar-nav__section-title td-sidebar-nav__section with-child{{ if $active }} active-path{{ end }}{{ if (not (or $show $p.Site.Params.ui.sidebar_menu_foldable )) }} collapse{{ end }}" id="{{ $mid }}-li">
      {{ if (and $p.Site.Params.ui.sidebar_menu_foldable (ge $ulNr 1)) -}}
      <input type="checkbox" id="{{ $mid }}-check"{{ if $active}} checked{{ end }}/>
      <label for="{{ $mid }}-check"><span class="{{ if $active }}td-sidebar-nav-active-item{{ end }}">{{ $year }}</span></label>
      {{ else -}}
      {{ with $s.Params.Icon}}<i class="{{ . }}"></i>{{ end }}<span class="{{ if $active }}td-sidebar-nav-active-item{{ end }}">{{ $year }}</span>
      {{- end }}
      {{- $ulNr := 2 }}
      <ul class="ul-{{ $ulNr }}{{ if (gt $ulNr 1)}} foldable{{end}}">
        {{ range .Pages -}}
        {{ $mid := printf "%s%s" $idPrefix (.RelPermalink | anchorize) -}}
        {{ $active := and (not $shouldDelayActive) (eq . $p) -}}
        {{ $activePath := and (not $shouldDelayActive) (eq . $p) -}}
        {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) -}}
        {{ $manualLinkTitle := cond (isset .Params "manuallinktitle") .Params.manualLinkTitle .Title -}}
        <li class="td-sidebar-nav__section-title td-sidebar-nav__section without-child{{ if $active }} active-path{{ end }}{{ if (not (or $show $p.Site.Params.ui.sidebar_menu_foldable )) }} collapse{{ end }}" id="{{ $mid }}-li">
          {{ if (and $p.Site.Params.ui.sidebar_menu_foldable (ge $ulNr 1)) -}}
          <input type="checkbox" id="{{ $mid }}-check"{{ if $active}} checked{{ end }}/>
          <label for="{{ $mid }}-check"><a href="{{ $manualLink }}"{{ if ne .LinkTitle $manualLinkTitle }} title="{{ $manualLinkTitle }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }} class="align-left ps-0 {{ if $active}} active{{ end }} td-sidebar-link{{ if .IsPage }} td-sidebar-link__page{{ else }} td-sidebar-link__section{{ end }}" id="{{ $mid }}">{{ with .Params.Icon}}<i class="{{ . }}"></i>{{ end }}<span class="{{ if $active }}td-sidebar-nav-active-item{{ end }}">{{ .LinkTitle }}</span></a></label>
          {{ else -}}
          <a href="{{ $manualLink }}"{{ if ne .LinkTitle $manualLinkTitle }} title="{{ $manualLinkTitle }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }} class="align-left ps-0{{ if $active}} active{{ end }} td-sidebar-link{{ if .IsPage }} td-sidebar-link__page{{ else }} td-sidebar-link__section{{ end }}" id="{{ $mid }}">{{ with .Params.Icon}}<i class="{{ . }}"></i>{{ end }}<span class="{{ if $active }}td-sidebar-nav-active-item{{ end }}">{{ .LinkTitle }}</span></a>
          {{- end }}
        </li>
        {{- end }}
      </ul>
    </li>
    {{- end }}
  </ul>
</li>
{{- end }}
