<div class="main-section">
  <div class="cncf-logo-details">
      <p>{{ T "main_cncf_project" | safeHTML }}</p>
      <img src="/images/cncf-logo-white.svg"
           data-theme-src-light="/images/cncf-logo-white.svg"
           data-theme-src-dark="/images/cncf-logo-dark.svg"
           class="cncf-img"
           alt="Cloud Native Computing Foundation logo">
      <ul class="cncf-links">
        <li><a href="https://www.cncf.io/phippy/">{{ T "main_cncf_phippy" }}</a></li>
        <li><a href="https://store.cncf.io/">{{ T "main_cncf_store" }}</a></li>
      </ul>
  </div>
</div>
