{{ if (.Site.Param "deprecated") }}
<section id="deprecation-warning">
  <div class="deprecation-warning {{ if $.IsHome }}home-pageinfo{{else}}pageinfo{{ end }}">
    <h3>
      {{ T "deprecation_title" }} {{ .Param "version" }}
    </h3>
    <p> Kubernetes {{ .Param "version" }} {{ T "deprecation_warning" }}
      <a href="{{ site.Params.currentUrl }}">{{ T "latest_version" }}</a>
    </p>
  </div>
</section>
{{ else if and (eq .Section "blog") (not .Params.evergreen) .Date (.Date.Before (now.AddDate -1 0 0)) -}}
<section id="deprecation-warning">
  <div class="deprecation-warning pageinfo outdated-blog">
    <p>{{ T "outdated_blog__message" }}</p>
  </div>
</section>
{{ end }}
