{{ if (.Site.Param "deprecated") }}
<section id="deprecation-warning">
  <div class="content deprecation-warning pageinfo">
    <h3>
      {{ T "deprecation_title" }} {{ .Param "version" }}
    </h3>
    <p> Kubernetes {{ .Param "version" }} {{ T "deprecation_warning" }}
      <a href="{{ site.Params.currentUrl }}">{{ T "latest_version" }}</a>
    </p>
  </div>
</section>
{{ else if and (eq .Section "blog") .Date (.Date.Before (now.AddDate -1 0 0)) -}}
{{ $title := .Param "outdated_blog.title" | default (T "outdated_blog_title") -}}
{{ $msg := .Param "outdated_blog.message" | default (T "outdated_blog_over_one_year_old")  -}}
<section id="deprecation-warning" class="blog-outdated-warning">
  <div class="content deprecation-warning pageinfo">
    <h3>{{ $title }}</h3>
    <p> {{ $msg }}</p>
  </div>
</section>
{{ end }}