<div id="cellophane" onclick="kub.toggleMenu()"></div>

<header>
    <a href="{{ site.Home.RelPermalink }}" class="logo" title="{{ site.Home.Title }} - {{ site.Params.title }}" aria-label="Kubernetes website"></a>

    <div class="nav-buttons" data-auto-burger="primary">
        <ul class="global-nav">
            {{ $sections := slice "docs" "blog" "training" "partners" "community" "case-studies" }}
            {{ range $sections }}
            {{ with site.GetPage "section" . }}<li><a href="{{ .RelPermalink }}"{{ if eq .Section $.Section }} class="active"{{ end}}>{{ .LinkTitle }}</a></li>{{ end }}
            {{ end }}
            {{/* Link directly to documentation etc., if possible. */}}
            {{ $langPage := cond (gt (len .Translations) 0) . site.Home }}
             <li>
                <a href="#">
                    {{ $langPage.Language.LanguageName }} <span class="ui-icon ui-icon-carat-1-s"></span>
                </a>
                <ul>
                {{ range $langPage.Translations }}
                    <li><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
                </ul>
            </li>

            <li>
                <a href="#">
                    {{ site.Params.version }} <span class="ui-icon ui-icon-carat-1-s"></span>
                </a>
                <ul>
                {{ range site.Params.versions }}
                    <li><a href="{{ .url }}{{ $.RelPermalink }}">{{ .version }}</a></li>
                {{ end }}
                </ul>
            </li>
        </ul>
        <button id="hamburger" onclick="kub.toggleMenu()" data-auto-burger-exclude><div></div></button>
    </div>

</header>
