<div id="cellophane" onclick="kub.toggleMenu()"></div>

<header>
    <a href="{{ .Site.Home.RelPermalink }}" class="logo"></a>

    <div class="nav-buttons" data-auto-burger="primary">
        <ul class="global-nav">
            {{ $sections := slice "docs" "blog" "partners" "community" "case-studies" }}
            {{ range $sections }}
            {{ with $.Site.GetPage "section" . }}<li><a href="{{ .RelPermalink }}"{{ if eq .Section $.Section }} class="active"{{ end}}>{{ .LinkTitle }}</a></li>{{ end }}
            {{ end }}
            {{/* Link directly to documentation etc., if possible. */}}
            {{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
             <li>
                <a href="#">
                    {{ $langPage.Language.LanguageName }} <span class="ui-icon ui-icon-carat-1-s"></span>
                </a>
                <ul>
                {{ range $langPage.Translations }}
                    <li><a href="{{  .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
                {{ end }}
                </ul>
            </li>
         
            <li>
                <a href="#">
                    {{ .Site.Params.version }} <span class="ui-icon ui-icon-carat-1-s"></span>
                </a>
                <ul>
                {{ range .Site.Params.versions }}
                    <li><a href="{{  .url }}">{{ .version }}</a></li>
                {{ end }}
                </ul>
            </li>
        </ul>
        {{ with .Site.GetPage "section" "docs/tutorials/kubernetes-basics" }}
        <a href="{{ .RelPermalink }}" class="button" id="tryKubernetes" data-auto-burger-exclude>{{ .LinkTitle }}</a>
        {{ end }}

        <button id="hamburger" onclick="kub.toggleMenu()" data-auto-burger-exclude><div></div></button>
    </div>

    <nav id="mainNav">
        <main data-auto-burger="primary">
         {{ range .Site.Menus.main }}
           <div class="nav-box">
            <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
           {{ .Post }}
        </div>
         {{ end }}
        </main>
        <main data-auto-burger="primary">
        <div class="left">
            <h5 class="github-invite">{{ T "main_github_invite" }}</h5>
            <a href="https://github.com/kubernetes/kubernetes" class="button" data-auto-burger-exclude>{{ T "main_github_view_on" }}</a>
        </div>

        <div class="right">
            <h5 class="github-invite">{{ T "main_community_explore" }}</h5>
            <div class="social">
                <a href="https://twitter.com/kubernetesio" class="twitter"><span>{{ T "community_twitter_name" }}</span></a>
                <a href="https://github.com/kubernetes/kubernetes" class="github"><span>{{ T "community_github_name" }}</span></a>
                <a href="http://slack.k8s.io/" class="slack"><span>{{ T "community_slack_name" }} Slack</span></a>
                <a href="https://stackoverflow.com/questions/tagged/kubernetes" class="stack-overflow"><span>{{ T "community_stack_overflow_name" }}</span></a>
                <a href="https://discuss.kubernetes.io" class="mailing-list"><span>{{ T "community_forum_name" }}</span></a>
                <a href="https://calendar.google.com/calendar/embed?src=nt2tcnbtbied3l6gi2h29slvc0%40group.calendar.google.com" class="calendar"><span>{{ T "community_events_calendar" }}</span></a>
            </div>
        </div>
        <div class="clear" style="clear: both"></div>
        </main>
    </nav>
</header>
