{{ $currentLang := .Language.Lang }}
{{ $translationMap := dict }}
{{ range .Translations }}
  {{ $translationMap = merge $translationMap (dict .Language.Lang .) }}
{{ end }}
{{ $homeMap := dict }}
{{ range .Site.Home.Translations }}
  {{ $homeMap = merge $homeMap (dict .Language.Lang .) }}
{{ end }}
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{ .Language.LanguageName }}
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
	{{ range site.Languages }}
		{{ if ne .Lang $currentLang }}
			{{ with index $translationMap .Lang }}
				<a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
			{{ end }}
		{{ end }}
	{{ end }}
	{{ range site.Languages }}
		{{ if and (ne .Lang $currentLang) (not (index $translationMap .Lang)) }}
			<span class="dropdown-item-text text-muted" title="{{ T "page_not_available_in_language" (dict "Language" .LanguageName) }}">
				{{ .LanguageName }}
				{{ with index $homeMap .Lang }}
					<a href="{{ .RelPermalink }}" class="ml-1" title="{{ .Language.LanguageName }}"><i class="fas fa-home fa-xs"></i></a>
				{{ end }}
			</span>
		{{ end }}
	{{ end }}
</div>
