{{ with .Translations }}
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	{{ $.Language.LanguageName }}
</a>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
	{{ range . }}
	<a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
	{{ end }}
</div>
{{ else }}
<span class="nav-link">{{ .Language.LanguageName }}</span>
{{ end }}