{{ $cover := and
    (.HasShortcode "blocks/cover")
    (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}
{{ $currentLang := .Language.Lang -}}
{{ $translationMap := dict -}}
{{ range .Translations -}}
  {{ $translationMap = merge $translationMap (dict .Language.Lang .) -}}
{{ end -}}
{{ $homeMap := dict -}}
{{ range .Site.Home.Translations -}}
  {{ $homeMap = merge $homeMap (dict .Language.Lang .) -}}
{{ end -}}
{{ $showPageDrawer := or (eq .Type "docs") (eq .Type "blog") -}}
{{ $isBlogPageDrawer := eq .Type "blog" -}}

<nav class="js-navbar-scroll navbar navbar-expand navbar-dark
            {{- if $cover }} td-navbar-cover {{- end }} flex-md-column flex-xl-row td-navbar">
  {{- if $showPageDrawer -}}
  <button
    class="btn td-navbar-mobile-page-toggle d-md-none"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#k8s-mobile-page-nav"
    aria-controls="k8s-mobile-page-nav"
    aria-label="{{ T "sidebar_toggle_nav" }}">
    <span class="td-toc-toggler-icon td-navbar-mobile-page-toggle-icon" aria-hidden="true"></span>
  </button>
  {{- end -}}
  <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
    {{- /**/ -}}
    <span class="navbar-brand__logo navbar-logo">
      {{- if ne .Site.Params.ui.navbar_logo false -}}
        {{ with resources.Get "icons/logo.svg" -}}
          {{ ( . | minify).Content | safeHTML -}}
        {{ end -}}
      {{ end -}}
    </span>
    {{- /**/ -}}
    <span class="navbar-brand__name">
      {{- .Site.Title -}}
    </span>
    {{- /**/ -}}
  </a>
  <div class="td-navbar-nav-scroll d-none d-md-block ms-xl-auto" id="main_navbar">
    {{- /* In Docsy, the mt-2 class is used but that causes issues. This should be re-visited after 0.7 migration */ -}}
    <ul class="navbar-nav mt-lg-0">
    {{ $p := . }}
    {{ range .Site.Menus.main }}
    <li class="nav-item me-4 mb-2 mb-lg-0">
        {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
        {{ with .Page }}
        {{ $active = or $active ( $.IsDescendant .)  }}
        {{ end }}
        {{ $pre := .Pre }}
        {{ $post := .Post }}
        {{ $url := urls.Parse .URL }}
        {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
        <a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ with .Pre}}{{ $pre }}{{ end }}<span{{if $active }} class="active"{{end}}>{{ .Title }}</span>{{ with .Post}}{{ $post }}{{ end }}</a>
    </li>
    {{ end }}
    {{ if .Site.Params.versions -}}
      <li class="nav-item dropdown me-4 d-none d-lg-block">
        {{ partial "navbar-version-selector.html" . -}}
      </li>
      {{ end -}}
      {{ if (gt (len .Site.Home.Translations) 0) -}}
      <li class="nav-item dropdown me-xl-4 d-none d-lg-block">
        {{ partial "navbar-lang-selector.html" . -}}
      </li>
      {{ end -}}
    </ul>
  </div>
  {{- /*
    The search bar is hidden for screen sizes 1500px or lower using CSS.
    We should look into using less hardcoded way of doing it.
  */ -}}
  <div class="navbar-nav d-none k8s-1500-block">
    {{ partial "search-input.html" . }}
  </div>
  <button
    class="btn td-navbar-mobile-menu-toggle fas fa-bars d-md-none"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#k8s-mobile-main-nav"
    aria-controls="k8s-mobile-main-nav"
    aria-label="{{ T "ui_toggle_navigation" }}">
  </button>
</nav>
<div class="offcanvas offcanvas-end d-md-none d-print-none td-navbar-mobile-offcanvas" tabindex="-1" id="k8s-mobile-main-nav" aria-label="{{ T "ui_navigation" }}">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ T "ui_close_navigation" }}"></button>
  </div>
  <div class="offcanvas-body">
    <nav aria-label="{{ T "ui_navigation" }}">
      <ul class="navbar-nav td-navbar-mobile-nav">
        {{ $p := . -}}
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) -}}
          {{ with .Page -}}
            {{ $active = or $active ( $p.IsDescendant .) -}}
          {{ end -}}
          {{ $pre := .Pre -}}
          {{ $post := .Post -}}
          {{ $url := urls.Parse .URL -}}
          {{ $baseurl := urls.Parse $.Site.Params.Baseurl -}}
          <a class="nav-link{{ if $active }} active{{ end }}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ with .Pre }}{{ $pre }}{{ end }}<span{{ if $active }} class="active"{{ end }}>{{ .Title }}</span>{{ with .Post }}{{ $post }}{{ end }}</a>
        </li>
        {{ end }}
        {{ if .Site.Params.versions -}}
        {{ $versionPath := "" -}}
        {{ if .Site.Params.version_menu_pagelinks -}}
          {{ $versionPath = .Page.RelPermalink -}}
        {{ end -}}
        <li class="nav-item td-navbar-mobile-group">
          <button class="nav-link td-navbar-mobile-group-toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#k8s-mobile-main-nav-versions" aria-expanded="false" aria-controls="k8s-mobile-main-nav-versions">
            <span>{{ T "version_menu" }}</span>
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
          </button>
          <div id="k8s-mobile-main-nav-versions" class="collapse td-navbar-mobile-group-menu">
            <div class="td-navbar-mobile-group-menu-inner">
              <a class="td-navbar-mobile-group-item" href="{{ "releases" | relLangURL }}">{{ i18n "release_information_navbar" . }}</a>
              {{ range .Site.Params.versions -}}
              <a class="td-navbar-mobile-group-item" href="{{ .url }}{{ $versionPath }}">{{ .version }}</a>
              {{ end -}}
            </div>
          </div>
        </li>
        {{ end -}}
        {{ if (gt (len .Site.Home.Translations) 0) -}}
        <li class="nav-item td-navbar-mobile-group">
          <button class="nav-link td-navbar-mobile-group-toggle collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#k8s-mobile-main-nav-languages" aria-expanded="false" aria-controls="k8s-mobile-main-nav-languages">
            <span>{{ .Language.LanguageName }}</span>
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
          </button>
          <div id="k8s-mobile-main-nav-languages" class="collapse td-navbar-mobile-group-menu">
            <div class="td-navbar-mobile-group-menu-inner">
              {{ range site.Languages -}}
                {{- if ne .Lang $currentLang -}}
                  {{- with index $translationMap .Lang -}}
                    <a class="td-navbar-mobile-group-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
                  {{- end -}}
                {{- end -}}
              {{- end -}}
              {{ range site.Languages -}}
                {{- if and (ne .Lang $currentLang) (not (index $translationMap .Lang)) -}}
                  {{- with index $homeMap .Lang -}}
                    <span class="td-navbar-mobile-group-item text-muted" title="{{ T "page_not_available_in_language" (dict "Language" .Language.LanguageName) }}">
                      {{ .Language.LanguageName }}
                      <a href="{{ .RelPermalink }}" class="ms-1"><i class="fas fa-home fa-xs" aria-hidden="true"></i><span class="visually-hidden">{{ .Language.LanguageName }}</span></a>
                    </span>
                  {{- end -}}
                {{- end -}}
              {{- end }}
            </div>
          </div>
        </li>
        {{ end -}}
      </ul>
    </nav>
  </div>
</div>
{{- if $showPageDrawer -}}
<div class="offcanvas offcanvas-start d-md-none d-print-none td-navbar-mobile-page-offcanvas" tabindex="-1" id="k8s-mobile-page-nav" aria-label="{{ T "sidebar_navigation" }}">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ T "ui_close_navigation" }}"></button>
  </div>
  <div class="offcanvas-body">
    {{ $pageDrawerArgs := dict
      "page" .
      "renderMode" "mobile-drawer"
      "sidebarMenuID" "k8s-mobile-sidebar-menu"
      "sectionNavID" "k8s-mobile-section-nav"
      "idPrefix" "mobile-m-"
      "showMobileToggle" false
      "showLanguageSelector" false
      "collapseNav" false
      "contentMobileID" "k8s-mobile-content-mobile"
      "contentDesktopID" "k8s-mobile-content-desktop"
    -}}
    {{- if $isBlogPageDrawer -}}
      {{ partial "blog/sidebar.html" $pageDrawerArgs }}
    {{- else -}}
      {{ partial "sidebar.html" $pageDrawerArgs }}
    {{- end -}}
  </div>
</div>
{{- end -}}
