{{ $cover := and
    (.HasShortcode "blocks/cover")
    (not .Site.Params.ui.navbar_translucent_over_cover_disable)
-}}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }}flex-column flex-md-row td-navbar" data-auto-burger="primary">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
            {{ if .Site.Params.ui.navbar_logo }}<span class="navbar-logo">{{ with resources.Get "icons/logo-title.svg" }}{{ ( . | minify).Content | safeHTML }}{{else}}{{errorf "Logo image not found"}}{{ end }}</span>{{ else }}<span class="font-weight-bold">{{ .Site.Title }}</span>{{end}}
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
    {{/* In upstream Docsy, the mt-2 class is used but that causes issues. This should be re-visited after 0.7 migration */}}
		<ul class="navbar-nav mt-lg-0">
			{{ $p := . }}
			{{ range .Site.Menus.main }}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				{{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
				{{ with .Page }}
				{{ $active = or $active ( $.IsDescendant .)  }}
				{{ end }}
				{{ $pre := .Pre }}
				{{ $post := .Post }}
				{{ $url := urls.Parse .URL }}
				{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
				<a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>{{ with .Pre}}{{ $pre }}{{ end }}<span{{if $active }} class="active"{{end}}>{{ .Name }}</span>{{ with .Post}}{{ $post }}{{ end }}</a>
			</li>
			{{ end }}
			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown mr-4 d-none d-lg-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown mr-xl-4 d-none d-lg-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
		</ul>
	</div>
   {{/*
     The search bar is hidden for screen sizes 1500px or lower using CSS.
     We should look into using less hardcoded way of doing it.
   */}}
	<div class="navbar-nav d-none k8s-1500-block">
		<form action="{{ partial "search-url-path.html" | relURL }}">
		{{ partial "search-input.html" . }}
		</form>
	</div>
</nav>
