{{- $searchPage := .Site.GetPage "/search" -}}
<div class="search-bar">
  <i class="search-icon fa-solid fa-search"></i>
  <input
    type="search"
    name="q"
    {{ with $searchPage -}}
    {{/* This is exactly what the maintainer requested: using the object to provide the URL */}}
    data-search-page="{{ .RelPermalink }}"
    {{- else -}}
    {{/* Fallback only if the search page doesn't exist in the site map */}}
    data-search-page="{{ "search/" | relURL }}"
    {{- end }}
    class="td-search__input form-control dark-theme-focus td-search-input"
    placeholder="{{ T "ui_search" }}"
    aria-label="{{ T "ui_search" }}"
    autocomplete="off">
</div>
