{{- $searchPage := .Site.GetPage "search" -}}
{{- if $searchPage -}}
<div class="td-search">
  {{- if .Site.Params.gcs_engine_id -}}
    <gcse:searchbox-only gschost="www.google.com" resultsUrl="{{ if .Site.Params.SearchMultiLingual }}{{ $searchPage.RelPermalink }}{{ else }}{{ "search/" | relURL }}{{ end }}"></gcse:searchbox-only>
  {{- else if .Site.Params.algolia_docsearch -}}
    <input type="search" class="form-control td-search-input" placeholder="{{ T "ui_search" }}" aria-label="{{ T "ui_search" }}" autocomplete="off">
  {{- else -}}
    {{/* Fallback for local testing/previews */}}
    <form action="{{ $searchPage.RelPermalink }}" method="get">
      <input type="search" class="form-control td-search-input" name="q" placeholder="{{ T "ui_search" }}" aria-label="{{ T "ui_search" }}" autocomplete="off">
    </form>
  {{- end -}}
</div>
{{- end -}}
