{{/* Revisit this if / when either of https://github.com/google/docsy/issues/2194 and https://github.com/google/docsy/pull/1512 are closed */}}
{{- $searchPage := .Site.GetPage "/search" -}}

<div class="search-bar">
  <i class="search-icon fa-solid fa-search"></i>
  <input
    type="search"
    name="q"
    {{ if $searchPage -}}
    data-search-page="{{ $searchPage.RelPermalink }}"
    {{- else -}}
    data-search-page="{{ "search/" | relLangURL }}"
    {{- end }}
    class="search-input custom-form-control td-search-input"
    placeholder="{{ T "ui_search" }}"
    aria-label="{{ T "ui_search" }}"
    autocomplete="off"
  >
</div>
