{{/* The "active" toggle here may delay rendering, so we only cache this sidebar menu for bigger sites. */ -}}
{{ $page := . -}}
{{ $renderMode := "desktop" -}}
{{ $sidebarMenuID := "td-sidebar-menu" -}}
{{ $sectionNavID := "td-section-nav" -}}
{{ $idPrefix := "m-" -}}
{{ $showMobileToggle := true -}}
{{ $showLanguageSelector := true -}}
{{ $collapseNav := true -}}
{{ $contentMobileID := "content-mobile" -}}
{{ $contentDesktopID := "content-desktop" -}}
{{ if reflect.IsMap . -}}
  {{ $page = .page -}}
  {{ with .renderMode }}{{ $renderMode = . }}{{ end -}}
  {{ with .sidebarMenuID }}{{ $sidebarMenuID = . }}{{ end -}}
  {{ with .sectionNavID }}{{ $sectionNavID = . }}{{ end -}}
  {{ with .idPrefix }}{{ $idPrefix = . }}{{ end -}}
  {{ if isset . "showMobileToggle" }}{{ $showMobileToggle = index . "showMobileToggle" }}{{ end -}}
  {{ if isset . "showLanguageSelector" }}{{ $showLanguageSelector = index . "showLanguageSelector" }}{{ end -}}
  {{ if isset . "collapseNav" }}{{ $collapseNav = index . "collapseNav" }}{{ end -}}
  {{ with .contentMobileID }}{{ $contentMobileID = . }}{{ end -}}
  {{ with .contentDesktopID }}{{ $contentDesktopID = . }}{{ end -}}
{{ end -}}
{{ $sidebarCacheLimit := cond (isset $page.Site.Params.ui "sidebar_cache_limit") $page.Site.Params.ui.sidebar_cache_limit 2000 -}}
{{ $shouldCache := ge (len $page.Site.Pages) $sidebarCacheLimit -}}
{{ $cacheRoot := $page.RelPermalink -}}
{{ with $page.FirstSection -}}
  {{ $cacheRoot = .RelPermalink -}}
{{ end -}}
{{ $treeContext := dict
  "page" $page
  "renderMode" $renderMode
  "sidebarMenuID" $sidebarMenuID
  "sectionNavID" $sectionNavID
  "idPrefix" $idPrefix
  "showMobileToggle" $showMobileToggle
  "showLanguageSelector" $showLanguageSelector
  "collapseNav" $collapseNav
  "contentMobileID" $contentMobileID
  "contentDesktopID" $contentDesktopID
-}}
{{ if $shouldCache -}}
  {{ $mid := printf "%s%s" $idPrefix ($page.RelPermalink | anchorize) }}
  <script>
    $(function() {
    $("#{{ $sectionNavID }} a").removeClass("active");
    $("#{{ $sectionNavID }} #{{ $mid }}").addClass("active");
    $("#{{ $sectionNavID }} #{{ $mid }}-li span").addClass("td-sidebar-nav-active-item");
    $("#{{ $sectionNavID }} #{{ $mid }}").parents("li").addClass("active-path");
    $("#{{ $sectionNavID }} li.active-path").addClass("show");
    $("#{{ $sectionNavID }} li.active-path").children("input").prop('checked', true);
    $("#{{ $sectionNavID }} #{{ $mid }}-li").siblings("li").addClass("show");
    $("#{{ $sectionNavID }} #{{ $mid }}-li").children("ul").children("li").addClass("show");
    $("#{{ $sidebarMenuID }}").removeClass("d-none");
    });
  </script>
  {{ $variant := printf "%s|%s|%s|%s|%s|%s|%s|%t|%t|%t" $cacheRoot $renderMode $idPrefix $sectionNavID $sidebarMenuID $contentMobileID $contentDesktopID $showMobileToggle $showLanguageSelector $collapseNav -}}
  {{ partialCached "sidebar-tree.html" $treeContext $variant }}
{{ else -}}
  {{ partial "sidebar-tree.html" $treeContext }}
{{- end }}
