<a href="#" id="feature-state-dialog-link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>{{ .page.Title }}</a>
<div id="feature-state-dialog" class="ui-dialog-content" title="{{ .page.Title }}">

<script>
var extra_data = Math.floor((Math.random() * 50) + 1);

var extra_link = "feature-state-dialog-link" + extra_data;
$("#feature-state-dialog-link").attr('id', extra_link);

var extra_dialog = "feature-state-dialog" + extra_data;
$("#feature-state-dialog").attr('id', extra_dialog);

$(`#${extra_dialog}`).dialog({
  appendTo: `#${extra_link}`,
  autoOpen: false,
    width: {{ .width | default "600" }},
    buttons: [
        {
            text: "Ok",
            click: function() {
                $( this ).dialog( "close" );
            }
        }
    ]
});

$(function(){
   $("[id^='feature-state-dialog-link']").click(function( event ) {
    var idStr = "feature-state-dialog" + event.target.id.substring(25);
    $(`#${idStr}`).dialog( "open" );
    event.preventDefault();
    });
});

</script>
{{ .page.Content | markdownify }}
</div>