#docsToc .push-menu-close-button,
#docs .flyout-button {
  display: block;
}

#docsToc {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
  transition: 0.3s;
}

.open-toc #docsToc {
  padding: 50px 20px;
  width: 400px;
  max-width: 100vw;
  overflow-y: auto;
}

#docsContent {
  width: 100%;
}
