{{ define "main" }}
<div class="container-404">
    <h4>
        Perhaps you were looking for:
    </h4>

    <br />
    <br />

    <ul>
        <li>
            <a href="/docs">
                The Kubernetes documentation
            </a>
        </li>
        <li>
            <a href="/blog">
                The Kubernetes blog
            </a>
        </li>
        <li>
            <a href="/community">
                The Kubernetes community
            </a>
        </li>
    </ul>
</div>
{{ end }}
