<script src="https://cdn.jsdelivr.net/npm/mermaid@9.3.0/dist/mermaid.min.js" integrity="sha512-ku2nmBrzAXY5YwohzTqLYH1/lvyMrpTVxgQKrvTabd/b/uesqltLORdmpVapYv6QhZVCLUX6wkvFaKOAY4xpUA==" crossorigin="anonymous"></script>
<script type="module" async>

  (function ($) {
    if (document.querySelectorAll('.mermaid').length == 0) {
      mermaid.initialize({ startOnLoad: false });
      return;
    }

    const isDark = $('html[data-bs-theme="dark"]').length;
    var theme = isDark ? "dark" : "neutral";
    mermaid.initialize({ startOnLoad: true, theme: theme });


    const lightDarkModeThemeChangeHandler = function (mutationsList, observer) {
      for (const mutation of mutationsList) {
        if (mutation.type === 'attributes' && mutation.attributeName === 'data-bs-theme') {
          // Mermaid doesn't currently support reinitialization, see
          // https://github.com/mermaid-js/mermaid/issues/1945. Until then,
          // just reload the page.
          location.reload();
        }
      }
    };

    const observer = new MutationObserver(lightDarkModeThemeChangeHandler);
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['data-bs-theme']
    });
  })(jQuery);
</script>
