<!Doctype html>
<html id="docs" class="{{ toc.bigheader }}">

{% include head.html %}

<body>

{% include header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
  <h1>{{ toc.bigheader }}</h1>
  <h5>{{ toc.abstract }}</h5>
  <div id="vendorStrip" class="light-text">
    <ul>
      <li><a href="/docs/home/" {% if toc.bigheader == nil %}class="YAH"{% endif %}>HOME</a></li>
      <li><a href="/docs/setup/" {% if toc.bigheader == "Setup" %}class="YAH"{% endif %}>SETUP</a></li>
      <li><a href="/docs/concepts/" {% if toc.bigheader == "Concepts" %}class="YAH"{% endif %}>CONCEPTS</a></li>
      <li><a href="/docs/tasks/" {% if toc.bigheader == "Tasks" %}class="YAH"{% endif %}>TASKS</a></li>
      <li><a href="/docs/tutorials/" {% if toc.bigheader == "Tutorials" %}class="YAH"{% endif %}>TUTORIALS</a></li>
      <li><a href="/docs/reference/" {% if toc.bigheader == "Reference" %}class="YAH"{% endif %}>REFERENCE</a></li>
    </ul>
    <div id="searchBox">
      <input type="text" id="search" placeholder="Search" onkeydown="if (event.keyCode==13) window.location.replace('/docs/search/?q=' + this.value)" autofocus="autofocus">
    </div>
  </div>
</section>

{% include deprecation-warning.html %}

<section id="encyclopedia">
  <div id="docsToc" style="display:none;"></div>

  <div id="content">

    {{ content }}

    <div class="issue-button-container">
      <p><a href=""><img src="https://kubernetes-site.appspot.com/UA-36037335-10/GitHub/{{ page.path }}?pixel" alt="Analytics" /></a></p>
      {% if page.url != "/404.html" and page.url != "/docs/search/" %}
        {% unless page.no_issue %}
          <script type="text/javascript">
              PDRTJS_settings_8345992 = {
                  "id" : "8345992",
                  "unique_id" : "{{ page.url }}",
                  "title" : "{{ page.title }}",
                  "permalink" : "https://kubernetes.io{{ page.url }}"
              };
              (function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src=('https:'==document.location.protocol)?'https://polldaddy.com/js/rating/rating.js':'http://i0.poll.fm/js/rating/rating.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-rating-js'));
          </script>
          <a href="" onclick="window.open('https://github.com/kubernetes/website/issues/new?title=Issue%20with%20' +
          'k8s.io'+window.location.pathname)" class="button issue">Create an Issue</a>
        {% endunless %}
        {% unless page.noedit %}
            <a href="/editdocs#{{ page.path }}" class="button issue">Edit this Page</a>
        {% endunless %}
      {% endif %}
    </div>
  </div>
</section>

{% include_cached footer.html %}
{% include footer-scripts.html %}

</body>
</html>
