---
layout: headerfooter
---
<!--  HERO  -->
<section id="hero" class="light-text">
	<h1>{{ page.title }}</h1>
	<h5>{{ page.abstract }}</h5>
	<div id="vendorStrip" class="light-text">
		<ul>
			<li><a href="#">GUIDES</a></li>
			<li><a href="#">REFERENCE</a></li>
			<li><a href="#">SAMPLES</a></li>
			<li><a href="#">SUPPORT</a></li>
		</ul>
	</div>
</section>

<section id="encyclopedia">
	<div id="docsToc">
		{% comment %} assign tree = site.data[page.toc].toc {% endcomment %}
        {% assign tree = site.data[page.versionfilesafe][page.section].toc %}
		{% include tree.html %}
	</div>
	<div id="docsContent">
		{{ content }}
	</div>
</section>