---
layout: headerfooter
---
<!--  HERO  -->
<section id="hero" class="light-text">
	<h1>Marketing Header</h1>
	<h5>Marketing abstract</h5>
	<div id="vendorStrip" class="light-text">
		CASE STUDY BAR
	</div>
</section>

<section id="encyclopedia">
	<div id="docsToc">
        <div class="pi-accordion">
        	DELETE ME TOC
        </div> <!-- /pi-accordion -->
	</div> <!-- /docsToc -->
	<div id="docsContent">
    	<h1>{{ page.title }}</h1>
		{{ content }}
        <p><a href=""><img src="https://kubernetes-site.appspot.com/UA-36037335-10/GitHub/{{ page.path }}?pixel" alt="Analytics" /></a>
	</div>
</section>
