---
title: "શ્રેષ્ઠ ગ્રેડ કન્ટેનર ઓર્કેસ્ટ્રેશન"
abstract: "સ્વચાલિત કન્ટેનર વ્યૂહગોઠવણી, સ્કેલિંગ અને સંચાલન"
cid: home
sitemap:
  priority: 1.0
---

{{< blocks/section id="oceanNodes" >}}
{{% blocks/feature image="flower" %}}
[કુબરનેટ્સ]({{< relref "/docs/concepts/overview/what-is-kubernetes" >}}), જે K8s તરીકે પણ જાણીતું છે, કન્ટાઈનરીત સોફ્ટવેર વ્યૂહગોઠવણી, સ્કેલિંગ અને સંચાલનને સ્વતઃ કરવા માટે એક ઓપન-સોર્સ સિસ્ટમ છે।

આ સરળ વ્યવસ્થાપન અને શોધ માટે લૉજિકલ સામાન્યમાં એક સોફ્ટવેર વાળા કન્ટેનરો નું જૂથ બનાવે છે। કુબરનેટ્સ [Google મા ઉત્પાદન કાર્ય ચલાવવામાં 15 વર્ષોનો અનુભવ](http://queue.acm.org/detail.cfm?id=2898444) પર બાંધવામાં આવેલ છે, જે સમુદાય શ્રેષ્ઠ-નસ્લીય વિચારો અને પ્રથાઓ સાથે સંયુક્ત છે।
{{% /blocks/feature %}}

{{% blocks/feature image="scalable" %}}
#### વૈશ્વિક સ્કેલ ક્ષમતા <!--Planet Scale-->

સમાન સિદ્ધાંતો પર રચાયેલ છે જે Google અઠવાડિયામાં અબજો કન્ટેનર ચલાવવાની મંજૂરી આપે છે, કુબરનેટ્સ તમારી ઑપ્સ ટીમને વધ્યા વિના સ્કેલ કરી શકો છો।

{{% /blocks/feature %}}

{{% blocks/feature image="blocks" %}}
#### જરૂર મુજબ વધવું <!--Never Outgrow-->

સ્થાનિક સ્તરે પરીક્ષણ કરવું હોય કે વૈશ્વિક એન્ટરપ્રાઇઝ ચલાવવું, કુબરનેટ્સ તમારી એપ્લિકેશનોને સતત અને સરળતાથી પહોંચાડવા માટે સ્કેલ કરે છે, તમારી જરૂરિયાત ગમે તેટલી જટિલ હોય।

{{% /blocks/feature %}}

{{% blocks/feature image="suitcase" %}}
#### K8s ગમે ત્યાં ચલાવો

કુબરનેટ્સ શું ઓપન સોર્સ તમને ઓન-પ્રિમિસીસ, હાઇબ્રિડ અથવા પબ્લિક ક્લાઉડ ઇન્ફ્રાસ્ટ્રક્ચરનો લાભ લેવાની સ્વતંત્રતા આપે છે, તેથી તમે સરળતાથી વર્કલોડ ખસેડી શકો છો જ્યાં તે તમારા માટે મહત્વપૂર્ણ છે.।

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section id="video" background-image="kub_video_banner_homepage" >}}
<div class="light-text">
<h2>150+ સૂક્ષ્મ સેવાઓ કો કુબરનેટ્સ માં સ્થળાંતર કરવાની પડકારો</h2>
        <p>Sarah Wells દ્વારા, Technical Director for Operations and Reliability, Financial Times</p>
        <button id="desktopShowVideoButton" onclick="kub.showVideo()">વિડિઓ જુઓ</button>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/?utm_source=kubernetes.io&utm_medium=nav&utm_campaign=kccncna21" button id="desktopKCButton">ઓક્ટોબર 11-15, 2021 KubeCon North America ભાગ લેવા</a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-europe-2022/?utm_source=kubernetes.io&utm_medium=nav&utm_campaign=kccnceu22" button id="desktopKCButton">મે 17-20, 2022 KubeCon Europe ભાગ લેવા</a>
</div>
<div id="videoPlayer">
    <iframe data-url="https://www.youtube.com/embed/H06qrNmGqyE?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <button id="closeButton"></button>
</div>
{{< /blocks/section >}}

{{< blocks/kubernetes-features >}}

{{< blocks/case-studies >}}
