<table class="sortable-table feature-gates-table">
  <caption style="display:none">
    {{ .Get "caption" }}
  </caption>

  <thead>
    <tr>
        <!-- demo - not localized -->
        <th>Feature</th>
        <th>Default</th>
        <th>Stage</th>
        <th>Since</th>
        <th>Until</th>
      </tr>
  </thead>

  {{- $featureGatesBundle := site.GetPage "page" "docs/reference/command-line-tools-reference/feature-gates" -}}
  {{- $featureCount := 0 -}}
  <tbody>
    {{- range $featureGatesBundle.Resources.ByType "page" -}}
     {{- $bundle := . }}

     {{- if not (isSet $bundle.Params "stages") -}}
      {{- continue -}}
     {{- end -}}

     {{- $featureIsGraduatedOrDeprecated := false -}}

     {{- range $stage := $bundle.Params.stages -}}
      {{- if or (eq ($stage).stage "stable") (eq ($stage).stage "deprecated") -}}
       {{- $featureIsGraduatedOrDeprecated = true -}}
      {{- end -}}
     {{- end -}}
     {{- if $featureIsGraduatedOrDeprecated -}}
      {{- continue -}}
     {{- end -}}

     {{- $featureRowCount := 0 -}}

     {{- range $stage := $bundle.Params.stages -}}
       {{- if or (eq ($stage).stage "alpha") (eq ($stage).stage "beta") -}}
         {{- $featureRowCount = add $featureRowCount 1 -}}
       {{- end }}
     {{- end }}

     {{- $featurePhaseRow := 0 -}}

     {{- range $stage := $bundle.Params.stages -}}
      {{- if or (eq ($stage).stage "alpha") (eq ($stage).stage "beta") -}}
       {{- if or (ne (printf "%T" ($stage).fromVersion) "string") (and (isSet $stage "toVersion") (ne (printf "%T" ($stage).toVersion) "string")) -}}
        {{- errorf "Feature gate stage version has invalid type for feature gate %s, stage \"%s\" (should be string)" $bundle.Title ($stage).stage -}}
       {{- end -}}
       {{- if not (isSet $stage "featureGateDefault") -}}
        {{- warnf "Feature gate does not have default value for feature gate %s, stage \"%s\"" $bundle.Title ($stage).stage -}}
       {{- end -}}
       <tr class="table-item-{{if (modBool $featureCount 2)}}odd{{else}}even{{end}}">
        <!-- one cell for the feature gate name, no matter how many rows -->
        {{- if eq $featurePhaseRow 0 -}}
        <td class="feature-gate-name" rowspan="{{ $featureRowCount }}"><span title="{{ $bundle.Content | plainify }}">{{- $bundle.Title -}}</span></td>
        {{- end -}}
        <td><code>{{- ($stage).featureGateDefault -}}</code></td>
        <td>{{- ($stage).stage | title }}</td>
        <td>{{- if isSet $stage "fromVersion" -}}{{- ($stage).fromVersion -}}{{- else -}}–{{- end -}}</td>
        <td>{{- if isSet $stage "toVersion" -}}{{- ($stage).toVersion -}}{{- else -}}–{{- end -}}</td>
       </tr>
       {{- $featurePhaseRow = add $featurePhaseRow 1 -}}
      {{- end -}}
     {{- end -}}
     {{- $featureCount = add $featureCount 1 -}}
    {{- end -}}
  </tbody>
  <tbody>
    <tr><td colspan="5" rowspan="2" style="text-align: right;"><em>&hellip;more rows</em></td></tr>
    <tr></tr>
    <tr><td colspan="5" rowspan="1"><strong>This is only a demo.</strong><br />If all the rows were here, you could sort the table too.</td></tr>
  </tbody>
</table>
