{{ range $data := .Site.Data.releases.schedule.schedules }}
{{- $dataVersion := printf "%.2f" $data.release  -}}
{{- $dataIdVersion := replace ( printf "%.2f" $data.release ) "." "-" | anchorize -}}
<h3 id="release-v{{ $dataIdVersion }}">{{ $dataVersion }}</h3>

<div class="release-details">
{{ if not $data.previousPatches }}
<!-- initial minor release -->
<div>
    <b class="release-inline-heading">{{ T "latest_release" }}</b><span class="release-inline-value">{{ printf "%s.0" $dataVersion }}{{ if isset $data "releaseDate" }} {{ T "release_date_before" }}{{ printf "%s" $data.releaseDate }}{{ T "release_date_after" }}{{- end -}}</span>
</div>
<div>
   <b class="release-inline-heading">{{ T "end_of_life" }}</b><span class="release-eoldate release-inline-value">{{ printf "%s" $data.endOfLifeDate }}</span>
</div>
<div>
    <b class="release-inline-heading">{{ T "previous_patches" }}</b> <span class="notapplicable release-inline-value">{{ T "not_applicable" }}</span>
</div>
{{- else -}}
<div>
    <b class="release-inline-heading">{{ T "latest_release" }}</b><span class="release-inline-value">{{ index $data.previousPatches 0 "release" }} {{ T "release_date_before" }}{{ printf "%s" ( index $data.previousPatches 0 "targetDate" ) }}{{ T "release_date_after" }}</span>
</div>
<div>
    <b class="release-inline-heading">{{ T "end_of_life" }}</b><span class="release-eoldate release-inline-value">{{ printf "%s" $data.endOfLifeDate }}</span>
</div>
<div>
<b>{{ T "previous_patches" }}</b>
    <span class="release-prevpatches release-inline-value">
    {{- range $key, $value := sort $data.previousPatches ".targetDate" "asc" -}}
        {{ if $key }}{{ T "inline_list_separator" }}{{ end }}
        <a href="https://git.k8s.io/kubernetes/CHANGELOG/CHANGELOG-{{ $dataVersion }}.md#v{{ replace .release `.` `` }}">{{ printf "%s" .release }}</a>
    {{- end -}}
    </span>
</div>

{{- end -}}
<!-- not yet localized, mark as English -->
<p lang="en">
Complete {{ $dataVersion }} <a href="/releases/patch-releases/#{{ replace $dataVersion `.` `-` }}">Schedule</a>
and <a href="https://git.k8s.io/kubernetes/CHANGELOG/CHANGELOG-{{ $dataVersion }}.md">Changelog</a>
</p>

</div>

{{ end }}
