<div>
  <table class="table table-striped col-md-9">
    <thead class="thead">
      <tr>
        <th>{{ T "monthly_patch_release" }}</th>
        <th>{{ T "release_cherry_pick_deadline" }}</th>
        <th>{{ T "release_target_date" }}</th>
      </tr>
    </thead>
    <tbody>
      {{ range $patchReleaseInfo :=
      .Site.Data.releases.schedule.upcoming_releases }}
      <tr>
        <td>
          {{- with $patchReleaseInfo.targetDate -}}
          {{ time.Format ( T "release_date_format_month" ) . }}
          {{- end -}}
        </td>
        {{- with $patchReleaseInfo.cherryPickDeadline -}}
        <td>
          <time title="{{ time.Format ":date_full" . }}" datetime={{ time.Format "2006-01-02" . }}>{{ time.Format ":date_medium" . }}</time>
        </td>
        {{- else -}}
          <td class="value-not-applicable">-</td>
        {{- end -}}
        <td>
          {{- with $patchReleaseInfo.targetDate -}}
          <time title="{{ time.Format ":date_full" . }}" datetime={{ time.Format "2006-01-02" . }}>{{ time.Format ":date_medium" . }}</time>
          {{- end -}}
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
